<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header (page='Forum')">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>
<h1 class="text-center m-3 p-3">Share your comments with other users about this state</h1>

<div class="" sec:authorize="isAuthenticated()">


    <div class="col-3 text-center m-auto mb-5" sec:authorize="isAuthenticated()">
        <h1>Submit a new Topic</h1>
        <form class="form-group" th:action="@{/posts/topic/add}" method="post">

            <input type="text" id="title" name="title">
            <input type="hidden" id="state-abbr" name="state-abbr" th:value="${state.abbr}">
            <input type="submit" class="btn btn-primary text-light" />
        </form>
    </div>
</div>

<table class="table table-hover mt-2">
<thead>
<tr>
    <th></th>
    <th class="sticky-top">User</th>
    <th class="d-none d-sm-table-cell sticky-top">From</th>
    <th class="d-none d-sm-table-cell sticky-top">Topic</th>
</tr>
</thead>
<tbody id="">
<th:block th:each="postTopic: ${posts}" th:height="auto">
    <tr class="posts" th:data-id="${postTopic.id}">
        <td>
            <img th:if="${postTopic.user.profile.uploadPath}"  th:src="@{/uploads/} + ${postTopic.user.profile.uploadPath}"  class="message-md-avatar" />
            <!--<img th:if="${postTopic.user.profile.uploadPath}"  th:src="@{/uploads/} + ${postTopic.user.profile.uploadPath}"  class="message-md-avatar" />-->

        </td>
        <td>
            <p class="text-left" th:text="'Posted by: ' + ${postTopic.user.profile.firstName}"></p>

        </td>
        <td>
            <p class="text-left" th:text="'From: ' + ${postTopic.user.profile.userState}"></p>

        </td>
        <td>
            <span th:text="'About: '+${postTopic.title}" ></span>
        </td><td>
        <form class="form-group" th:action="@{~/topic/state/}+${postTopic.id}" method="get">
        <button type="submit" class="btn create-form btn-primary" id="topicId" name="topicId">View this Discussion</button>

        </form>
        </td>
    </tr>

</th:block>

</tbody>
</table>
<div >
    <div class="row p-2">
        <div id="top-postTopic">
            <div class="spacer"></div>

        </div>
        </div>
    </div>
</div>

<div th:replace="partials/layout :: footer" />

</body>
</html>