<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header (page='Forum')">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>
<h1 class="text-center m-3 p-3">Share your comments with other users about this state<span th:value="${state.name}"></span></h1>

<div class="" sec:authorize="isAuthenticated()">


    <div class="col-3 text-center m-auto mb-5" sec:authorize="isAuthenticated()">
        <h1>Submit a new Topic</h1>
        <form class="form-group form-inline" th:action="@{/posts/topic/add}" method="post">

            <input class="form-control col-8" type="text" id="title" name="title">
            <input type="hidden" id="state-abbr" name="state-abbr" th:value="${state.abbr}">
            <input type="submit" class="btn btn-primary text-light" />
        </form>
    </div>
</div>
<div class="container ">
    <table class="table table-hover mt-2">
        <thead>
        <tr>
            <th></th>
            <th class="sticky-top">User</th>
            <th class="d-none d-sm-table-cell sticky-top">From</th>
            <th class="d-none d-sm-table-cell sticky-top">Topic</th>
        </tr>
        </thead>
        <tbody id="">
        <th:block th:each="postTopic: ${#numbers.sequence(posts.size() -1,0, -1)}" th:with="postTopic=${posts[postTopic]}" th:height="auto">
            <tr class="postTopics" th:data-id="${postTopic.id}">
                <td>
                    <img th:if="${postTopic.user.profile.uploadPath}"  th:src="@{/uploads/} + ${postTopic.user.profile.uploadPath}"  class="message-md-avatar" />
                </td>
                <td>
                    <p class="text-left" th:text="${postTopic.user.profile.firstName}"></p>
                </td>
                <td>
                    <span th:text="${postTopic.user.profile.userState}"></span>
                </td>
                <td>
                    <a th:href="@{~/topic/state/}+${postTopic.id}"  th:text="${postTopic.title}" ></a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div >
    <div class="row p-2">
        <div id="top-postTopic">
            <div class="spacer"></div>

        </div>
        </div>
    </div>
</div>

<div th:replace="partials/layout :: footer" />

</body>
</html>