<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>
<div >
    <div class="row p-2">
        <div id="top-postTopic">
            <div class="spacer"></div>

        </div>
    </div>
</div>
</div>
<h1 class="text-center m-3 p-3">Share your comments with other users about your state!</h1>

<div class="container bg-white text-center border border-dark rounded mt-5" sec:authorize="isAuthenticated()">

    <div class="p-5 m-2 text-dark " th:each="postTopic: ${posts}" th:height="auto">
        <ul class="list-unstyled pagination" >
            <li class="media">
                <div class="media-body p-2">
                    <p class="text-left" th:text="'Posted by: ' + ${postTopic.user.username}"></p>
                    <p class="text-left" th:text="'From: ' + ${postTopic.user.profile.userState}"></p>
                    <p class="text-left" th:text="'State: '+${postTopic.state.id}"></p>
                    <p class="text-left" th:text="'About: '+${postTopic.title}"></p>
                    <button class="btn btn-primary">Go To Topic</button>
                    <hr class="create-form" style="height: 10px"/>
                </div>

                <div class="col-3" sec:authorize="isAuthenticated()">
                    <form class="form-group" th:action="@{/posts/{id}/delete(id=${postTopic.id})}" method="post">
                        <button type="submit" class="btn create-form" id="delete" name="delete">Delete</button>
                        <input type="hidden" name="state_id" th:value="${postTopic.state.id}" />
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-3" sec:authorize="isAuthenticated()">
        <h1>Submit a new postTopic</h1>
        <form class="form-group" th:action="@{/posts/topic/add}" method="post">
            <!--<input type="hidden" id="stateid" name="stateid" />-->

            <input type="text" id="title" name="title">
            <input type="hidden" id="state-abbr" name="state-abbr" th:value="${state.abbr}">

            <br />
            <input type="submit" class="btn btn-dark text-light" />
        </form>
    </div>
</div>
<div th:replace="partials/layout :: footer" />

</body>
</html>