<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header (page='Topic')">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<div th:replace="partials/layout :: navbar" />
<div th:replace="partials/layout :: navbar-profile" />


<div th:replace="posts/message :: message-modal" />


<div class="container" sec:authorize="isAuthenticated()">
    <div class="card-header">
        <div class="state-header"><h2><span th:text="'Topic: ' +${topic.title}"></span></h2></div>

    </div>
    <div class="card-body">

    <div  class="form-group form-inline col-12"  >
        <form id="topic-form col-12"  th:action="@{~/posts/state/} + ${topic.state.abbr}">
            <button class="btn-primary btn mr-2" id="topic-all"> <i class="fas fa-chevron-circle-left"></i> Back to Topic List </button>
            <input class="form-control topic-add-input " type="text" id="title" name="title">
            <input type="hidden" id="state-abbr" name="state-abbr" >
            <input type="submit" class="btn btn-primary text-light" id="topic-submit" />


        </form>

    </div>

    <table class="table table-hover mt-2 table-striped">
        <thead>
            <tr>
                <th></th>
                <th  >User</th>

                <th class="">Post</th>
            </tr>
        </thead>
        <th:block th:each="post: ${posts}" th:height="auto" >
        <tbody>
            <tr class="posts" th:data-id="${post.id}">

                <td>
                    <img th:if="${post.user.profile.uploadPath}"    data-toggle="modal" data-target="#exampleModal"  th:src="@{/uploads/} + ${post.user.profile.uploadPath}"  class="message-lg-avatar" />
                </td>
                <td>
                    <span class="font-weight-bold" th:text="${post.user.profile.firstName}" ></span><br/>
                    <span th:text="${post.user.profile.userState}" ></span><br/>

                     <i class="far fa-envelope"  data-toggle="modal" data-target="#exampleModal"  th:data-recipient-id="${post.user.id}" th:data-recipient-name="${post.user.profile.firstName}" ></i>

                </td>

                <td>
                    <span th:utext="${post.message}" ></span>
                </td>

                <td>

                </td>
            </tr>

            </th:block>
        </tbody>
    </table>

    </div>
    <div class="card-body outer">
        <form class="card" th:action="@{/topic/state/}+${id}" method="post" th:object="${post}">
            <textarea type="text" id="topic-message" name="message"></textarea>

            <button class="btn btn-primary">New Post</button>
        </form>
    </div>


</div>
<div th:replace="partials/layout :: footer" />

<script th:src="@{~/built/messages.js}"></script>
</body>
</html>