<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<head th:include="partials/head :: head">-->
    <meta charset="UTF-8" />
    <title>Messages form</title>
</head>
<body class="bg-dark">

<div class="container bg-secondary text-center border border-dark rounded mt-5">

    <h1>Hello Nestor!</h1>
    <!--<form class="form-group" th:action="@{/messages/create}" method="post" th:object="${messages}">-->
        <!--<h2>Message:</h2>-->
        <!--<input class="form-control" th:field="*{message}" />-->
        <!--<br />-->
        <!--<input type="submit" class="btn btn-dark text-light" />-->
    <!--</form>-->

</div>

</body>
</html>