<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Message</title>
</head>
<body>
<div th:replace="partials/layout :: navbar" />
<div class="row d-flex flex-wrap">

    <div sec:authorize="isAuthenticated()">

    </div>
    <div class="p-5 m-2 create-form text-dark border border-dark rounded" th:each="message: ${messages}" th:height="auto">
        <ul class="list-unstyled">
            <li class="media">
                <img class="mr-3" src="http://via.placeholder.com/150x150" alt="Generic placeholder image" />
                <div class="media-body p-2">
                    <p >From: <span class="text-justify" th:text="${message.sender.username}"></span></p>
                    <p >To: <span class="text-justify" th:text="${message.recipient.username}"></span></p>
                    <p class="text-justify" th:text="${message.message}"></p>

                </div>
            </li>
        </ul>
    </div>
<div class="container bg-white text-center border border-dark rounded mt-5">
    <form th:action="@{/messages/}+${recipient.id}+@{/create}" method="post">
        <div class="">

            <input type="hidden" name="recipientId" th:value="${recipient.id}">

            <input type="text"  class="form-control mb-5" id="message" name="message"/>

        </div>
        <div class="">
            <input type="hidden" name="recipient" />
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <button type="submit" class="btn btn-outline-primary">Send</button>
        </div>

    </form>
</div>

</div>



<div th:replace="partials/layout :: footer" />
</body>
</html>