<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header (page='Your messages')">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body sec:authorize="isAuthenticated()" class="message-body">
<div th:replace="partials/layout :: navbar" />
<div th:replace="partials/layout :: navbar-profile" />


<div class="bg-white m-auto text-center rounded message-header">
    <h1><img class="message-md-avatar" th:src="@{~/uploads/} + ${recipient.profile.uploadPath}"> <span th:text="'Your conversation with '+ ${recipient.profile.firstName}"></span>  </h1>



</div>

    <div class="message-conversation text-center mx-auto" id="message-center">


        <div class="p-5 m-2 text-dark" th:each="message: ${messages}">
            <div th:switch="${message.sender.username}">


                <div th:case="${#authentication.principal.username}">
                    <img class="message-md-avatar float-right" th:src="@{~/uploads/} + ${#authentication.principal.profile.uploadPath}">
                    <div class="speech-bubble-right" th:text="${message.message}"></div>


                </div>
                <div th:case="*">
                    <img class="message-md-avatar float-left" th:src="@{~/uploads/} + ${recipient.profile.uploadPath}">
                    <div class="speech-bubble-left" th:text="${message.message}"></div>
                </div>

            </div>
        </div>

</div>


<!--Response Center -->
<div class="profile-footer mx-auto">
    <div class="profile-footer-container mx-auto">
    <form th:action="@{~/messages/create}" method="post">
            <div class="col-12">
              <input type="text"  class="message-send" id="message" name="message" th:placeholder="'Message ' + ${recipient.profile.firstName}"/>
                <input type="hidden"  name="recipient-id" th:value="${recipient.id}">
                <!--<button type="submit" class="btn btn-primary">Send</button>-->
             </div>
    </form>
    </div>
</div>


<div th:replace="partials/layout :: footer" />
<script>
    window.onload=function () {
        var objDiv = document.getElementById("message-center");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

</script>
</body>
</html>
