<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>



<div class="container bg-white text-center border border-dark rounded mt-5" sec:authorize="isAuthenticated()">

    <div sec:authorize="isAuthenticated()">
        <h1 class="mb-5" th:height="200"> These are all your messages</h1>

        <div class=" col-6 bg-white m-auto text-center rounded mt-5">
            <h1>New Message <i class="fas fa-comment" ></i></h1>
            <div class="" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                <div class="" role="document">
                    <div class="col-12 mb-4">
                        <div class="">
                            <h5 class="" id="exampleModalLabel">Send <span></span> New Message to <span th:text="${recipient.username}"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <!--<span aria-hidden="true">&times;</span>-->
                            </button>
                            <form th:action="@{~/messages/create}" method="post">
                                <div class="col-6">
                                    <input type="hidden" name="recipient-id" th:value="${recipient.id}">
                                </div>
                                <div class="col-10">
                                    <input type="text"  class="form-control mb-5" id="message" name="message"/>
                                </div>

                                <div class="col-10">
                                    <button type="submit" class="btn btn-outline-primary">Send</button>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div><!-- END OF THE DIV SEC:AUTHENTICATION -->
<!------------------------- TO DISPLAY THE MESSAGES ------------------------------------------>

    <div class="p-5 m-2 text-dark" th:each="message: ${messages}" th:height="auto">
        <ul class="list-unstyled">
            <li class="media">
            <div class=" col-12">
                <div class=" d-flex flex-wrap p-2">
                    <div class="col-3 float-left">
                    <p class="float-left m-5">From: <span  class="text-justify " th:text="${message.sender.username}"></span></p>
                    <p class="float-left m-5">To: <span class="text-justify " th:text="${message.recipient.username}"></span></p>
                    </div>
                    <div class="col-6 float-right bubble-message">
                    <p class="text-justify" th:text="${message.message}"></p>
                    <div class="mediumBubble"></div>
                    <div class="smallBubble"></div>
                    </div>
                </div>
            </div>
            </li>
        </ul>
    </div>

</div>
<div th:replace="partials/layout :: footer" />

</body>
</html>
