<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
    <meta charset="UTF-8"/>

    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Q-SHE</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{~/css/resources/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/global.css}">
    <link rel="stylesheet" href="/css/signup.css">

</head>


<body>
<nav th:fragment="navbar" class="navbar navbar-dark  navbar-dark bg-primary">

    <!--Page PreLoading -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <a class="navbar-brand" href="/">
        <img th:src="@{~/img/logo.png}" width="120" class="d-inline-block align-top" alt="QSHE">
    </a>


    <div class="d-flex flex-row">

        <div class="btn-group header-button text-right ">
            <button class="btn btn-secondary" type="button">

                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{~/profile}" th:text="${#authentication?.principal?.profile?.username}">
                   </a>
                    <th:block th:if="${currentUserConnection == null}" >

                    </th:block>

                    <th:block th:unless="${currentUserConnection == null}" >


                        <a th:if="${currentUserConnection.providerId == 'facebook'}" class="ml btn btn-social-icon btn-sm btn-facebook">   <i class="fa fa-facebook"></i></a>
                        <a th:if="${currentUserConnection.providerId == 'google'}"   class="ml btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>

                        <a th:href="${currentUserConnection.profileUrl}" class="navbar-link"><span th:text="${currentUserDisplayName}"/></a>
                        <img th:src="${currentUserConnection.imageUrl}" width="32" height="32" />
                    </th:block>


                </div>

                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">
                        Login
                    </a>
                </div>

            </button>
            <button type="button" class="btn btn-secondary header-button dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" th:href="@{~/users/displayprofile}">Profile</a>
               
                <a class="dropdown-item" th:href="@{~/users}">Users</a>

                <a class="dropdown-item" th:href="@{~/us}">Country</a>

                <a class="dropdown-item" th:href="@{~/state/compare}">Compare States</a>

                <a class="dropdown-item" th:href="@{~/about/}">About</a>
                <a class="dropdown-item" th:href="@{~/help}">Help</a>

                <a class="dropdown-item" th:href="@{~/widget/all}">Forum</a>

                <a class="dropdown-item" th:href="@{~/users/rating}">My rating</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{~/logout}">Logout</a>
            </div>
        </div>
    </div>


</nav>

<!-- Footer -->
<footer  th:fragment="footer">

    <div class="footer-spacer"></div>

    <nav class="navbar navbar-dark bg-dark navbar-footer">
        <div class="mx-auto text-center">
            <a class="hvr-underline-reveal mr-2" th:href="@{~/profile}">Home</a>

            <a class="hvr-underline-reveal mr-2" th:href="@{~/us}">USA</a>

            <a class="hvr-underline-reveal mr-2" th:href="@{~/state/compare}">Compare States</a>

            <a class="hvr-underline-reveal mr-2" th:href="@{~/about/}">About</a>

            <a class="" th:href="@{~/users/rating}">Rate My State</a>

            <a class="hvr-underline-reveal mr-2" th:href="@{~/users/rating}">Login</a>

        </div>

    </nav>

    <!--JS Files -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Preloader -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).on('load', function() { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({'overflow':'visible'});
        })
        //]]>
    </script>
</footer>

</body>
</html>