<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header">
    <meta charset="UTF-8"/>

    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <th:block th:if="${page}">
    <title th:text="@{Q-SHE } + ' - ' + ${page}">Q-SHE</title>
    </th:block>
    <th:block th:if="!${page}">
        <title>Q-SHE</title>
    </th:block>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{~/css/resources/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/global.css}">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/style.css">

</head>


<body>
<nav th:fragment="navbar" class="navbar navbar-dark  navbar-dark bg-primary">

    <!--Page PreLoading -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <a class="navbar-brand" href="/">
        <img th:src="@{~/img/logo.png}" width="120" class="d-inline-block align-top" alt="QSHE">
    </a>


    <div class="d-flex flex-row">

        <div class="btn-group header-button text-right ">

            <div sec:authorize="!isAuthenticated()">
                <a class="btn " th:href="@{/login}">
                    Login
                </a>
            </div>

            <div sec:authorize="isAuthenticated()">


                <img class="message-avatar mr-1" th:src="@{~/uploads/} + ${#authentication?.principal?.profile?.uploadPath}">

                    <a th:href="@{~/users/displayprofile}" th:text="${#authentication?.principal?.profile?.firstName}" class="mr-1"></a>
                    <th:block th:if="${currentUserConnection == null}" >

                    </th:block>

                    <th:block th:unless="${currentUserConnection == null}" >
                        <a th:if="${currentUserConnection.providerId == 'facebook'}" class="ml btn btn-social-icon btn-sm btn-facebook">   <i class="fa fa-facebook"></i></a>
                        <a th:if="${currentUserConnection.providerId == 'google'}"   class="ml btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a th:href="${currentUserConnection.profileUrl}" class="navbar-link"><span th:text="${currentUserDisplayName}"/></a>
                        <img th:src="${currentUserConnection.imageUrl}" width="32" height="32" />
                    </th:block>


            <button type="button" class="btn btn-secondary header-button dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" th:href="@{~/users/displayprofile}">Profile</a>
                    <a class="dropdown-item" th:href="@{~/users/rating}">My rating</a>
                    <a class="dropdown-item" th:href="@{~/state/mine}">My state</a>
                    <a class="dropdown-item" th:href="@{~/us}">USA</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{~/users/displayprofile#messages}">Messages</a>

                    <a class="dropdown-item" th:href="@{~/users}">Users</a>
                    <a class="dropdown-item" th:href="@{~/about/}">About</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{~/logout}">Logout</a>
                </div>
            </div>

        </div>
    </div>


</nav>


<nav th:fragment="navbar-profile" class="navbar navbar-expand-lg navbar-light bg-light m-auto" id="profile-nav">
    <a class="navbar-brand" href="/users/displayprofile">PROFILE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto" id="navprofile">
            <li class="nav-item d-inline">
                <!--<img src="/img/4391 - Around the Globe.png"/>-->
                <a class="nav-link" href="/us">Map<img src="/img/icon-map.png" class="ml-1"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/rating">Your rating<img src="/img/icon-user-rating.png" class="ml-1"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Friends<img src="/img/icon-user-network.png" class="ml-1"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link unread-badge" th:data-badge="${unread}" th:href="@{~/users/displayprofile#messages}">Messages<img src="/img/icon-messages.png" class="ml-1"/></a>
            </li>
        </ul>
    </div>
</nav>



<!-- Footer -->
<footer  th:fragment="footer">

    <div class="footer-spacer"></div>

    <nav class="navbar navbar-dark bg-dark navbar-footer">
        <div class="mx-auto text-center">
            <a class="hvr-underline-reveal mr-2" th:href="@{~/}">Home</a>

            <a class="hvr-underline-reveal mr-2" th:href="@{~/us}">USA</a>

            <th:block sec:authorize="isAuthenticated()">

            <a class="hvr-underline-reveal mr-2" th:href="@{~/users/displayprofile}">Profile </a>


                <a class="hvr-underline-reveal mr-2" th:href="@{~/state/mine}">My State </a>

                <a class="" th:href="@{~/users/rating}">Rate My State</a>

            </th:block>


            <a class="hvr-underline-reveal mr-2" th:href="@{~/about/}" > About</a>

            <th:block sec:authorize="!isAuthenticated()">

            <a class="hvr-underline-reveal mr-2" th:href="@{~/login}">Login</a>

            </th:block>

        </div>

    </nav>

    <!--JS Files -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Preloader -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).on('load', function() { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
            $('body').delay(350).css({'overflow':'visible'});
        })
        //]]>
    </script>
</footer>

</body>
</html>