<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>

<h1 class="text-center">Connect with other users!</h1>

<div class="row d-flex flex-wrap" sec:authorize="isAuthenticated()">
    <div class="col-sm-4 col-lg-8 d-flex flex-wrap m-auto">
        <div class="card create-form" id="signupUser" style="width: 18rem;" th:each="user: ${users}">
            <img class="card-img-top mt-3 img-fluid mr-3 mx-auto" src="img/face_icons-circle-63.png" style="width: 100px" alt="Card image cap" />
            <div class="card-body">
                <h5 class="text-center card-title" th:text="${user.username}"></h5>
                <h5 class="text-center card-title" th:text="${user.profile.firstName}"></h5>
                <h5 class="text-center card-title" th:text="${user.profile.email}"></h5>

                <h5 class="text-center card-title" th:text="${user.profile.userState}"></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!--<a href="/messages/create/" class="btn btn-primary">Send a message</a>-->
                <button type="button" th:data-recipient-id="${user.id}" th:data-recipient-name="${user.username}" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Send message</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/messages/create}" method="post">
            <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <span id="recipient-name">James Turner</span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" name="message"></textarea>

                       </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>

            </div>

                <input type="hidden" name="recipient-id" id="recipient-id" />
            </form>
        </div>
    </div>
</div>

<div th:replace="partials/layout :: footer" />
<script type="text/javascript">
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);

            $('#recipient-name').text(button.attr("data-recipient-name"));
            $('#recipient-id').val(button.attr("data-recipient-id"));
    })

</script>
</body>
</html>