<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header (page='Profile')">
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body>
<div th:replace="states/svg :: states-svg" />
<div th:replace="partials/layout :: navbar" />
<!--<div class="col-12">-->

<div th:replace="partials/layout :: navbar-profile (unread=${unreadCount})" />

<!--</div>-->
<!--state news modal-->
<!--body continues to scroll while user is scrolling through modal-->
<div class="modal fade" id="modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" onclick="giveScroll()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="margin-left: 125px" id="exampleModalLongTitle" th:text="Latest + ' ' + ${state.name} + ' ' + News"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="giveScroll()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="morenews"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="giveScroll()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="userProfile row d-flex flex-wrap">
        <div class="col-12 col-md-6 col-sm-12 ">
            <div id="profile-user" class="card card-border m-3">

                <div class="card-title text-left pt-3">
                    <a class="pr-2 float-right" th:href="@{/editprofile}"><i class="fas fa-edit"></i> </a>
                    <h3>Welcome <span th:text="${user.profile.firstName}"></span>!</h3>

                    <hr>
                </div>
                <div class="card-body">
                    <div>
                        <div>
                            <img th:if="${user.profile.uploadPath == null}" th:src="@{/img/defaultavatar.png}" alt="none" class="avatar-img" />
                            <img th:if="${user.profile.uploadPath}"  th:src="@{/uploads/} + ${user.profile.uploadPath}"  class="avatar-img" />
                        </div>
                    </div>

                    <div class="profile-data">
                        <p>Have a wonderful Day!</p>
                        <div class="row">
                            <div class="profile-item">Your name:</div>
                            <div class="profile-value"><span th:text="${user.profile.firstName} + ' ' + ${user.profile.lastName}"></span></div>
                        </div>

                        <div class="row">
                            <div class="profile-item">Your email:</div>
                            <div class="profile-value"> <span th:text="${user.profile.email}"></span></div>
                        </div>

                        <div class="row">
                            <div class="profile-item">Your state:</div>
                            <div class="profile-value"><span th:text="${user.profile.userState}"></span></div>
                        </div>

                    </div>




                </div>
            </div>
        </div>
        <br />

        <div class="col-12 col-md-6 col-sm-12" id="state-profile">
            <div class="card border-0 state-bg-photo m-3" th:style="@{background-image: url(} + ${photo.large1600Url}+ @{);}">
                <h3 class="card-title p-2 title-card text-center staterounded" th:text="${state.name}"></h3>

                <div class="card-body  d-flex flex-column align-items-center justify-content-between">
                    <div class="state">
                        <svg th:class="@{icon icon-state-} + ${state.abbr}" style="height: 200px;">
                            <use th:xlink:href="@{#icon-state-} + ${state.abbr}"></use>
                        </svg>
                    </div>

                    <div class="state-btn-list d-flex flex-row justify-content-between align-items-center">
                    <a class="btn btn-primary" th:href="@{/state/} + ${state.abbr}" style="color: white">View your State</a>

                      <div class="state-ranking">
                              <span class="state-user-rank" th:text="${#numbers.formatDecimal(overallRating, 0, 'COMMA', 2, 'POINT')}">10.00</span>
                       <a th:href="@{/users/rating}" class="state-ranking-link">Update Rating</a>
                      </div>

                    </div>
                </div>
            </div>
        </div>

        <!--news tab for user's state-->
        <div class="col-12 col-md-6  col-sm-12">

            <div class="card m-3">
                <div class="card-header font-weight-bold">
                    Recent <span th:text="${state.name}"></span> Discussions
                </div>
                <div class="card-body">
                    <ul class="list-group-flush text-truncate pb-3">
                        <li class="list-group-item text-truncate" th:each="topic : ${topics}">
                            <i class="far fa-comments "></i>
                            <a class="pl-2 text-truncate" th:href="@{/topic/state/} + ${topic.id} " th:text="${topic.title}"></a>
                            <div class="float-right">
                            <span class="text-truncate" th:text="${topic.user.profile.firstName}"></span>
                            <img class="message-avatar" th:src="@{~/uploads/} + ${topic.user.profile.uploadPath}">
                            </div>

                        </li>
                    </ul>

                    <!--<ul id="" th:data-state-name="${#authentication.principal.profile.userState}"></ul>-->
                    <a  class="btn btn-primary" th:href="@{~/posts/state/} + ${state.abbr}">View all discussions</a>
                </div>
            </div>
        </div>

        <!--state and rating tab-->
        <div class="col-12 col-md-6 col-sm-12">
            <div class="card m-3">
                <div class="card-header font-weight-bold">
                    <span th:text="${state.name}"></span> News
                </div>
                <div class="card-body">
                    <ul id="statenews" th:data-state-name="${#authentication.principal.profile.userState}"></ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" onclick="stopScroll()">View more News</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3" id="messages">Messages</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th> </th>
                            <th class="sticky-top">User</th>
                            <th class="d-none d-sm-table-cell sticky-top">Message</th>
                        </tr>
                        </thead>
                        <tbody id="transaction-list">

                        <th:block th:each="c : ${conversations}">
                            <tr class="conversation"  th:data-id="${c.id}">
                                <td>
                                 <img class="message-avatar" th:src="@{~/uploads/} + ${c.sender.profile.uploadPath}">
                                </td>
                                <td>
                                    <th:block th:switch="c.sender.username">
                                        <th:block th:case="${#authentication.principal.username}">
                                            <a th:href="@{~/messages/view/} + ${c.sender.id}" th:text="${c.sender.profile.name}"></a>
                                        </th:block>
                                        <th:block th:case="*">
                                            <a th:href="@{~/messages/view/} + ${c.recipient.id}" th:text="${c.recipient.profile.name}"></a>
                                        </th:block>
                                    </th:block>

                                </td>
                                <td>
                                    <span class="text-muted" th:text="${c.message} ">Since 05/01/2012</span>
                                </td>


                            </tr>

                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--notifications area-->

        <div class="row m-5 m-auto p-3">
            <div class="col-12 text-center">
                <h3>Share us on social media!</h3>
                <div class="col-12 m-4 d-inline">
                   <a href="https://www.facebook.com/" target="_blank"><img class="fluid-img m-2" th:height="50" src="/img/Facebook.png"></a>
                    <a href="https://plus.google.com/discover" target="_blank"><img class="fluid-img m-2" th:height="50" src="/img/Google%20Plus.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/news.js}"></script>
<script th:src="@{~/built/user.js}"></script>
<script type="text/javascript">
    function stopScroll() {
        $("html").css("overflow", "hidden");
    }
    function giveScroll() {
        $("html").css("overflow", "visible");
    }
</script>
</body>
</html>