<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<div th:replace="states/svg :: states-svg" />
<div th:replace="partials/layout :: navbar" />
<!--<div class="col-12">-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-auto">
        <a class="navbar-brand" href="/users/displayprofile">PROFILE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active d-inline">
                    <!--<img src="/img/4391 - Around the Globe.png"/>-->
                    <a class="nav-link" href="/us">Map<img src="/img/icon-map.png" class="ml-1"/><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/rating">Your rating<img src="/img/icon-user-rating.png" class="ml-1"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Friends<img src="/img/icon-user-network.png" class="ml-1"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages<img src="/img/icon-messages.png" class="ml-1"/></a>
                </li>
            </ul>
        </div>
    </nav>
<!--</div>-->
<!--state news modal-->
<!--body continues to scroll while user is scrolling through modal-->
<div class="modal fade" id="modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="margin-left: 125px" id="exampleModalLongTitle" th:text="Latest + ' ' + ${state.name} + ' ' + News"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="morenews"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="userProfile row">
        <div class="col-md-6" style="margin-bottom: 1rem">
            <div class="card">
                <br />
                <h3 class="card-title" style="text-align: center">Welcome to your Profile!</h3>
                <div style="margin: 0 auto; height: 200px; width: 200px">
                    <div style="text-align: center">
                        <img th:if="${user.profile.uploadPath == null}" style="height: 150px; width: 150px; margin: 0 auto" th:src="@{/img/defaultavatar.png}" alt="none" />
                        <img th:if="${user.profile.uploadPath}" style="height: 150px; width: 150px; margin: 0 auto" th:src="@{/uploads/} + ${user.profile.uploadPath}"  alt="didn't work" />
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="text-center"> <span th:text="${#authentication.principal.profile.firstName}"></span> </h3>
                </div>
            </div>
        </div>
        <br />

        <div class="col-md-6" style="margin-bottom: 1rem">
            <div class="card">
                <br />
                <h3 class="card-title" style="text-align: center">Your State and Rating</h3>
                <div class="card-body">
                    <div class="state pt-4">
                        <svg th:class="@{icon icon-state-} + ${state.abbr}">
                            <use th:xlink:href="@{#icon-state-} + ${state.abbr}"></use>
                        </svg>
                    </div>
                    <button type="button" class="btn btn-primary"><a th:href="@{/state/} + ${state.abbr}" style="color: white">View your State</a></button>
                </div>
            </div>
        </div>

        <!--news tab for user's state-->
        <div class="col-md-6" style="margin-bottom: 1rem">

            <div class="card">
                <div class="card-body">
                    <!--<h5 class="card-title">Card title</h5>-->
                    <h4 class="text-left">Your name:</h4>
                    <h4 class="text-center"> <span th:text="${#authentication.principal.profile.firstName} + ' ' + ${#authentication.principal.profile.lastName}"></span> </h4>
                    <br />
                    <h4 class="text-left">Your email:</h4>
                    <h4 class="text-center"> <span th:text="${#authentication.principal.profile.email}"></span></h4>
                    <br />
                    <h4 class="text-left">You live in:</h4>
                    <h4 class="text-center"><span th:text="${#authentication.principal.profile.userState}"></span></h4>
                    <br />
                    <p class="card-text text-center"> <span th:text="${#authentication.principal.profile.name}"></span> </p>
                </div>
                <button class="btn btn-sm"><a th:href="@{/editprofile}"> Edit Profile</a> </button>
            </div>
        </div>

        <!--state and rating tab-->
        <div class="col-md-6" style="margin-bottom: 1rem">
            <div class="card">
                <div class="card-body">
                    <ul id="statenews" th:data-state-name="${#authentication.principal.profile.userState}"></ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">View more News</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5" style="margin-bottom: 1rem">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3">Messages</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>UserName</th>
                            <th class="d-none d-sm-table-cell sticky-header">Message</th>
                            <th class="sticky-top">Status</th>

                        </tr>
                        </thead>
                        <tbody id="transaction-list">

                        <th:block th:each="c : ${conversations}">
                            <tr class="conversation"  th:data-id="${c.id}">
                                <td>
                                    <a th:href="@{~/messages/view/} + ${c.recipient.id}" th:text="${c.recipient.username}"></a>
                                </td>
                                <td>
                                    <span class="text-muted" th:text="${c.message} ">Since 05/01/2012</span>
                                </td>
                                <td><span>Unread</span>
                                </td>

                            </tr>

                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--notifications area-->

        <div class="row m-5 m-auto">
            <div class="col-6 text-center">
                <h3 style="margin-top: 1em">Your notifications</h3>
                <div class="col-12 m-3 d-inline">
                    <button type="button" class="btn btn-primary notification-profile m-2">
                        Email <span class="badge badge-light">4</span>
                    </button>
                    <button type="button" class="btn btn-primary notification-profile m-2">
                        Text Message <span class="badge badge-light">4</span>
                    </button>
                </div>
            </div>
            <div class="col-6 text-center">
                <h3 style="margin-top: 1em">Social media</h3>
                <div class="col-12 m-4 d-inline">
                    <img class="fluid-img m-2" th:height="50" src="/img/Facebook.png">
                    <img class="fluid-img m-2" th:height="50" src="/img/Google%20Plus.png">
                </div>
            </div>
        </div>
    </div>
</div><!-- end of tab-pane-fade -->
<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
<h3 class="mb-3">Messages</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>UserName</th>
            <th class="d-none d-sm-table-cell sticky-header">Message</th>
            <th class="sticky-top">Status</th>

        </tr>
        </thead>
        <tbody id="transaction-list">

        <th:block th:each="c : ${conversations}">
            <tr class="conversation"  th:data-id="${c.id}">
                <td>
                    <a th:href="@{~/messages/view/} + ${c.recipient.id}" th:text="${c.recipient.username}"></a>
                </td>
                <td>
                    <span class="text-muted" th:text="${c.message} ">Since 05/01/2012</span>
                </td>
                <td><span>Unread</span>
                </td>

            </tr>

        </th:block>

        </tbody>
    </table>
<!--</div>-->
=======
</div>
<!-- end of tab-pane-fade -->

<div th:replace="partials/layout :: footer" />

<script type="text/javascript">
    // USER RATE VALUE FOR VIOLENCE
    var sliderOne = document.getElementById("violenceRate");
    var outputOne = document.getElementById("demoViolence");
    outputOne.innerHTML =sliderOne.value;

    sliderOne.oninput = function(){
        outputOne.innerHTML = this.value;
    };

    // // USER RATE VALUE FOR EMPLOYMENT
    var sliderTwo = document.getElementById("employmentRate");
    var outputTwo = document.getElementById("demoEmployment");
    outputTwo.innerHTML = sliderTwo.value;

    sliderTwo.oninput = function (){
        outputTwo.innerHTML = this.value;
    };
    //
    // //USER RATE VALUE FOR EDUCATION
    var sliderThree = document.getElementById("educationRate");
    var outputThree = document.getElementById("demoEducation");
    outputThree.innerHTML = sliderThree.value;

    sliderThree.oninput = function (){
        outputThree.innerHTML = this.value;
    };

    // // USER RATE VALUE FOR HEALTH
    var sliderFour = document.getElementById("healthRate");
    var outputFour = document.getElementById("demoHealth");
    outputFour.innerHTML = sliderFour.value;

    sliderFour.oninput = function () {
        outputFour.innerHTML = sliderFour.value;
    };

    // USER RATE VALUE FOR GROWTH
    var slider = document.getElementById("growthRate");
    var output = document.getElementById("demoGrowth");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value;
    };


    // ---------------- OVERALL RATING FROM THE SLIDERS -------------------------------

    $('.slider').each(function() {

        $(this).on('change', function() {
            calcavg();
        })
    });
    function calcavg() {
        var total = 0;
        var avg = 0;

        $('.slider').each(function() {
            if (!isNaN(this.value) && this.value.lenght !=0) {
                total +=parseFloat(this.value);
                // alert(total);
            }
        });
        if (!isNaN(total) && total !=0) {
            // var txtboxes = $('.cal-rating').length;
            var txtboxes = 5;
            Average = parseFloat(total) / 5;
        }
        $('#totalMarks').html(Average);
        // Show Average upto 2 decimal places using .toFixed() method.
        // var star = parseFloat(Average.toFixed(2)) * 20;
        // $('.avg-ovral-rtng .rating-stars').css("width", star + "%");
    }
</script>
<script th:src="@{~/built/news.js}"></script>

</body>
</html>