<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="partials/layout :: header (page='Edit profile')">
    <meta charset="UTF-8" />
    <title>Home</title>
    <style>
        body {
            background-color: #27AE60;
        }
    </style>
</head>
<body>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>
<nav class="navbar navbar-expand-sm navbar-light bg-light m-auto">
    <a class="navbar-brand" href="#">PROFILE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
            <li class="nav-item active d-inline">
                <!--<img src="/img/4391 - Around the Globe.png"/>-->
                <a class="nav-link" href="/us">Map<img src="/img/icon-map.png" class="ml-1"/><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/rating">Your rating<img src="/img/icon-user-rating.png" class="ml-1"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users<img src="/img/icon-user-network.png" class="ml-1"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Messages<img src="/img/icon-messages.png" class="ml-1"/></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container wrapper mx-auto" sec:authorize="isAuthenticated()">

    <!--file upload modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onclick="giveScroll()">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin: 0 auto">Profile Picture editor</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{/fileupload}" method="post" enctype="multipart/form-data" th:object="${user}">
                        <input id="file" name="file" type="file" onclick="stopScroll()" />
                        <br />
                        <input type="submit" value="upload" onclick="stopScroll()" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="giveScroll()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container wrapper mx-auto" sec:authorize="isAuthenticated()">
        <!-- ThIS IS THE PROFILE TAB -->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h1 class="text-center">Edit your profile</h1>
                <div class="row">
                    <div class="col-12">
                        <img th:if="${user.profile.uploadPath == null}" style="height: 150px; width: 150px" th:src="@{/img/defaultavatar.png}" alt="none" />
                        <img th:if="${user.profile.uploadPath}" style="height: 150px; width: 150px" th:src="@{/uploads/} + ${user.profile.uploadPath}"  alt="didn't work" />
                    </div>
                </div>
            </div>
            <br />
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-bottom: 1.5rem" onclick="stopScroll()">
                Change your profile picture!
            </button>
            <div class="col-md-8 m-auto">
                <!--<h2>User ID <span th:text="${#authentication.principal.id}" /></h2>-->
                <form th:action="@{/user/} + ${user.id} + @{/edit}" th:method="post" th:object="${user}" >

                        <input type="hidden" class="form-control" id="username" th:placeholder="${user.username}" th:field="*{username}"/>
                    <br />
                    <label for="firstName">First Name</label>
                        <input id="firstName" class="form-control"  type="text" th:placeholder="${user.profile.firstName}" th:field="*{profile.firstName}">
                    <br />
                    <label for="lastName">Last Name</label>
                        <input id="lastName" class="form-control" placeholder="Last Name" type="text" th:field="*{profile.lastName}">
                    <br />
                    <label for="email">Email</label>
                        <input type="email" class="form-control"  id="email" th:attr="placeholder=${user.profile.email}"  th:field="*{profile.email}"/>
                    <br />
                    <label for="name">A Little About Me</label>
                        <input id="name" class="form-control" placeholder="About Me" type="text"  th:field="*{profile.name}" />
                    <br />
                    <p>Change your Home State</p>
                    <div class="input-group-prepend">
                        <span class="input-group-text">State you live in</span>
                        <select path="userState" id="inputState" class="form-control" th:field="*{profile.userState}" >
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary m-5">save changes</button>
                </form>
            </div>
        </div>
    </div><!-- THIS IS THE END OF THE TAB-CONTENT -->
</div><!-- THIS IS THE END OF THE DIV COL-12 -->


<div th:replace="partials/layout :: footer" />
<script type="text/javascript">
    function stopScroll() {
        $("html").css("overflow", "hidden");
    }
    function giveScroll() {
        $("html").css("overflow", "visible");
    }
</script>
</body>
</html>