<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
    <style>
        body {
            background-color: #27AE60;
        }

    </style>
</head>
<body>
<div th:replace="partials/layout :: navbar" />
    <span class="overlay"></span>


    <div class="container wrapper mx-auto text-center">


        <div class="container text-center">
            <div class="text-center" >


                <div class=" text-center">

                    <h4><strong>Edit Profile</strong></h4>

                    <br />

                    <br />
                    <!--<h2>User ID <span th:text="${#authentication.principal.username}" /></h2>-->

                    <form th:action="@{/user/} + ${#authentication.principal.id} + @{/edit}" th:method="post" th:object="${user}" >


                         <label for="username">Username</label>
                         <input type="text" class="form-control" id="username" th:placeholder="${#authentication.principal.username}" th:field="*{username}"/>

                        <br />

                        <label for="firstName">First Name</label>
                        <input id="firstName" class="form-control"  type="text" th:placeholder="${#authentication.principal.profile.firstName}" th:field="*{profile.firstName}">

                        <br />

                        <label for="lastName">Last Name</label>
                        <input id="lastName" class="form-control" placeholder="Last Name" type="text" th:field="*{profile.lastName}">

                        <br />


                        <label for="email">Email</label>
                        <input type="email" class="form-control"  id="email" th:attr="placeholder=${#authentication.principal.profile.email}"  th:field="*{profile.email}"/>

                        <br />

                        <label for="name">A Little About Me</label>
                        <input id="name" class="form-control" placeholder="About Me" type="text"  th:field="*{profile.name}" />

                        <button type="submit" class="btn btn-primary">save changes</button>

                    </form>
                </div>

                <!--<div class="row mt-5 mb-5">-->
                    <!--<h3>Your notifications</h3>-->
                    <!--<div class="col-12 text-left">-->
                        <!--<button type="button" class="btn btn-primary notification-profile">-->
                            <!--Email <span class="badge badge-light">4</span>-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-primary notification-profile">-->
                            <!--Text Message <span class="badge badge-light">4</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row mb-5">-->
                    <!--<h3>Social media</h3>-->
                    <!--<div class="col-12">-->
                    <!--<img class="fluid-img m-2" th:height="50" src="/img/Facebook.png">-->
                    <!--<img class="fluid-img m-2" th:height="50" src="/img/Google%20Plus.png">-->
                    <!--</div>-->
                <!--</div>-->
            </div>


            </div>
        </div>
    </div>
    </div>
<div th:replace="partials/layout :: footer" />
        <script type="text/javascript">
            // USER RATE VALUE FOR VIOLENCE
            var sliderOne = document.getElementById("violenceRate");
            var outputOne = document.getElementById("demoViolence");
            outputOne.innerHTML =sliderOne.value;

            sliderOne.oninput = function(){
                outputOne.innerHTML = this.value;
            };
            //
            // // USER RATE VALUE FOR EMPLOYMENT
            var sliderTwo = document.getElementById("employmentRate");
            var outputTwo = document.getElementById("demoEmployment");
            outputTwo.innerHTML = sliderTwo.value;

            sliderTwo.oninput = function (){
                outputTwo.innerHTML = this.value;
            };
            //
            // //USER RATE VALUE FOR EDUCATION
            var sliderThree = document.getElementById("educationRate");
            var outputThree = document.getElementById("demoEducation");
            outputThree.innerHTML = sliderThree.value;

            sliderThree.oninput = function (){
                outputThree.innerHTML = this.value;
            };

            // // USER RATE VALUE FOR HEALTH
            var sliderFour = document.getElementById("healthRate");
            var outputFour = document.getElementById("demoHealth");
            outputFour.innerHTML = sliderFour.value;

            sliderFour.oninput = function () {
                outputFour.innerHTML = sliderFour.value;
            };

            // USER RATE VALUE FOR GROWTH
            var slider = document.getElementById("growthRate");
            var output = document.getElementById("demoGrowth");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value;
            }
        </script>

</body>
</html>
