<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
    <style>
        body {
            background-color: #27AE60;
        }

    </style>
</head>
<body>
<div th:replace="partials/layout :: navbar" />
    <span class="overlay"></span>

<!--file upload modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="margin: 0 auto">Profile Picture editor</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{/fileupload}" method="post" enctype="multipart/form-data" th:object="${user}">
                    <input id="file" name="file" type="file" />
                    <br />
                    <input type="submit" value="upload" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

    <div class="container wrapper mx-auto" sec:authorize="isAuthenticated()">
        <div class="text-left col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{~/profile}">Home</a></li>
                <li class="breadcrumb-item"><a  th:href="@{~/dashboard}">
                    <span th:text="${#authentication?.principal?.profile?.name}"></span>
                </a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>

        </div>
        <!-- THIS ARE THE TABS FOR THE PROFILE PAGE -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-profile nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Profile</a>
                <a class="nav-item nav-profile nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">My rating</a>
                <a class="nav-item nav-profile nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Messages</a>
            </div>
        </nav>
        <!-- ThIS IS THE PROFILE TAB -->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                PROFILE
                <div class="row">
                    <p>Profile Picture</p>
                    <div class="col-md-4">
                        <img th:if="${user.profile.uploadPath == null}" style="height: 150px; width: 150px" th:src="@{/img/defaultavatar.png}" alt="none" />
                        <img th:if="${user.profile.uploadPath}" style="height: 150px; width: 150px" th:src="@{/uploads/} + ${user.profile.uploadPath}"  alt="didn't work" />
                    </div>
                </div>
            </div>
            <br />
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Change your profile picture!
            </button>
            <br />
                <div class="col-md-8">
                    <h2>User ID <span th:text="${#authentication.principal.id}" /></h2>

                    <form th:action="@{/user/} + ${#authentication.principal.id} + @{/edit}" th:method="post" th:object="${user}" >


                         <label for="username">Username</label>
                         <input type="text" class="form-control" id="username" th:placeholder="${#authentication.principal.username}" th:field="*{username}"/>

                        <br />

                        <label for="firstName">First Name</label>
                        <input id="firstName" class="form-control"  type="text" th:placeholder="${#authentication.principal.profile.firstName}" th:field="*{profile.firstName}">

                        <br />

                        <label for="lastName">Last Name</label>
                        <input id="lastName" class="form-control" placeholder="Last Name" type="text" th:field="*{profile.lastName}">

                        <br />


                        <label for="email">Email</label>
                        <input type="email" class="form-control"  id="email" th:attr="placeholder=${#authentication.principal.profile.email}"  th:field="*{profile.email}"/>

                        <br />

                        <label for="name">A Little About Me</label>
                        <input id="name" class="form-control" placeholder="About Me" type="text"  th:field="*{profile.name}" />

                        <button type="submit" class="btn btn-primary">save changes</button>

                    </form>
                </div>

                <div class="row mt-5 mb-5">
                    <h3>Your notifications</h3>
                    <div class="col-12 text-left">
                        <button type="button" class="btn btn-primary notification-profile">
                            Email <span class="badge badge-light">4</span>
                        </button>
                        <button type="button" class="btn btn-primary notification-profile">
                            Text Message <span class="badge badge-light">4</span>
                        </button>
                    </div>
                </div>
                <div class="row mb-5">
                    <h3>Social media</h3>
                    <div class="col-12">
                    <img class="fluid-img m-2" th:height="50" src="/img/Facebook.png">
                    <img class="fluid-img m-2" th:height="50" src="/img/Google%20Plus.png">
                    </div>
                </div>
            </div>
            <!-- THIS IS THE ABOUT ME AREA -->

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- TO RATE -->
                <h2>My Rating</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="mb-3">Rate each element of your State</h3>
                        <form class="card card-block bg-faded m-3 p-3 login-card" th:action="@{/profile/rating}" method="POST" th:object="${userRating}">
                        <h2 class="m-b-1 text-xs-center">Step 3</h2>
                        <small class="form-text">You can rate your state now or later:</small>
                        <div class="form-group">
                        <h5 class="m-b-1 text-center">1 = Good  10 = Bad</h5>
                        </div>
                        <div class="form-group m-0">
                        <label class="text-left" for="violenceRate">How safe do you feel where you live?</label>
                        <input type="range" min="1" max="10" value="1" class="slider float-left" id="violenceRate" />
                        <p class="text-center float-right"><span id="demoViolence"></span></p>
                        </div>
                        <div class="form-group m-0">
                        <label class="text-left" for="employmentRate">How would you rank the employment rate in your state?</label>
                        <input type="range" min="1" max="10" value="1" class="slider float-left" id="employmentRate" />
                        <p class="text-center float-right"><span id="demoEmployment"></span></p>
                        </div>
                        <div class="form-group m-0">
                        <label class="text-left" for="educationRate">How would you rank the education system in your state?</label>
                        <input type="range" min="1" max="10" value="1" class="slider float-left" id="educationRate" />
                        <p class="text-center float-right"><span id="demoEducation"></span></p>
                        </div>
                        <div class="form-group m-0">
                        <label class="left-text" for="healthRate">How would you rank the health care system in your state?</label>
                        <input type="range" min="1" max="10" value="1" class="slider float-left" id="healthRate"/>
                        <p class="text-center float-right"><span id="demoHealth"></span></p>
                        </div>
                        <div class="form-group m-0">
                        <label class="text-left" for="growthRate">How would you rate the general growth in your state?</label>
                        <input type="range" min="1" max="10"value="1" class="slider float-left" id="growthRate" />
                        <p class="text-center float-right"><span id="demoGrowth"></span></p>
                        </div>
                        </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 float-right">
                        <div class="card m-3">
                            <div class="card-body">
                                <h3 class="m-3">The state where you are living</h3>
                                <img class="img-fluid m-5" src="/img/stateMaps/TX.png" style="width: 100px">
                            </div>
                        </div>
                        <div class="card m-3">
                            <div class="card-body">
                                <h3 class="mb-3">This is the overall rating you're giving to the State you live in</h3>
                                <h1 class="text-center m-5" id="totalMarks"></h1>
                                <form class="form-controll">
                                    <input type="hidden" name="userId" th:value="${user.id}">
                                    <!--<input type="hidden" name="userRate" th:value="${userRating.id}">-->
                                    <!--<input type="hidden" name="stateId" th:value="${userRating.stateId}"-->
                                    <!--<input type="submit" id="overallRating" name="submit" class="submit form-control btn btn-secondary" th:field="*{userRating.id}"  value="Save" />-->
                                    <input type="submit" id="overallRating" name="submit" class="submit form-control btn btn-secondary" value="Save" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 float-right">

                    </div>
                </div>
            </div>
                <!--</div>-->
                <!-- HERE ARE THE MESSAGES -->
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <h3 class="mb-3">Messages</h3>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>UserName</th>
                        <th class="d-none d-sm-table-cell sticky-header">Message</th>
                        <th class="sticky-top">Status</th>

                    </tr>
                    </thead>
                    <tbody id="transaction-list">

                    <th:block th:each="c : ${conversations}">
                        <tr class="conversation"  th:data-id="${c.id}">
                            <td>
                                <a th:href="@{~/messages/view/} + ${c.recipient.id}" th:text="${c.recipient.username}"></a>
                              </td>
                            <td>
                                <span class="text-muted" th:text="${c.message} ">Since 05/01/2012</span>
                            </td>
                            <td><span>Unread</span>
                            </td>

                        </tr>

                    </th:block>



                    </tbody>
                </table>





            </div>
    </div>
    </div>
<div th:replace="partials/layout :: footer" />
        <script type="text/javascript">
            // USER RATE VALUE FOR VIOLENCE
            var sliderOne = document.getElementById("violenceRate");
            var outputOne = document.getElementById("demoViolence");
            outputOne.innerHTML =sliderOne.value;

            sliderOne.oninput = function(){
                outputOne.innerHTML = this.value;
            };
            //
            // // USER RATE VALUE FOR EMPLOYMENT
            var sliderTwo = document.getElementById("employmentRate");
            var outputTwo = document.getElementById("demoEmployment");
            outputTwo.innerHTML = sliderTwo.value;

            sliderTwo.oninput = function (){
                outputTwo.innerHTML = this.value;
            };
            //
            // //USER RATE VALUE FOR EDUCATION
            var sliderThree = document.getElementById("educationRate");
            var outputThree = document.getElementById("demoEducation");
            outputThree.innerHTML = sliderThree.value;

            sliderThree.oninput = function (){
                outputThree.innerHTML = this.value;
            };

            // // USER RATE VALUE FOR HEALTH
            var sliderFour = document.getElementById("healthRate");
            var outputFour = document.getElementById("demoHealth");
            outputFour.innerHTML = sliderFour.value;

            sliderFour.oninput = function () {
                outputFour.innerHTML = sliderFour.value;
            };

            // USER RATE VALUE FOR GROWTH
            var slider = document.getElementById("growthRate");
            var output = document.getElementById("demoGrowth");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value;
            };


// ---------------- OVERALL RATING FROM THE SLIDERS -------------------------------

            $('.slider').each(function() {

                $(this).on('change', function() {
                    calcavg();
                })
            });
            function calcavg() {
                var total = 0;
                var avg = 0;

                $('.slider').each(function() {
                    if (!isNaN(this.value) && this.value.lenght !=0) {
                        total +=parseFloat(this.value);
                        // alert(total);
                    }
                });
                if (!isNaN(total) && total !=0) {
                    // var txtboxes = $('.cal-rating').length;
                    var txtboxes = 5;
                    Average = parseFloat(total) / 5;
                }
                $('#totalMarks').html(Average);
                // Show Average upto 2 decimal places using .toFixed() method.
                // var star = parseFloat(Average.toFixed(2)) * 20;
                // $('.avg-ovral-rtng .rating-stars').css("width", star + "%");
            }
        </script>

</body>
</html>
