<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>

<div class="container wrapper mx-auto">
    <div class="text-left col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{~/profile}">Home</a></li>
            <li class="breadcrumb-item"><a  th:href="@{~/dashboard}">
                <span th:text="${#authentication?.principal?.profile?.name}"></span>
            </a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </div>
    <div class="container">
            <!-- TO RATE -->
            <h2>My Rating</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="mb-3">Rate each element of your State</h3>
                            <form class="card card-block bg-faded m-3 p-3 login-card" th:action="@{/users/rating}" method="POST" th:object="${userRating}">
                                <h2 class="m-b-1 text-xs-center">Step 3</h2>
                                <small class="form-text">You can rate your state now or later:</small>
                                <div class="form-group">
                                    <h5 class="m-b-1 text-center">1 = Good  10 = Bad</h5>
                                </div>
                                <div class="form-group m-0">
                                    <label class="text-left" for="violenceRate">How safe do you feel where you live?</label>
                                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="violenceRate" />
                                    <p class="text-center float-right"><span id="demoViolence"></span></p>
                                </div>
                                <div class="form-group m-0">
                                    <label class="text-left" for="employmentRate">How would you rank the employment rate in your state?</label>
                                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="employmentRate" />
                                    <p class="text-center float-right"><span id="demoEmployment"></span></p>
                                </div>
                                <div class="form-group m-0">
                                    <label class="text-left" for="educationRate">How would you rank the education system in your state?</label>
                                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="educationRate" />
                                    <p class="text-center float-right"><span id="demoEducation"></span></p>
                                </div>
                                <div class="form-group m-0">
                                    <label class="left-text" for="healthRate">How would you rank the health care system in your state?</label>
                                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="healthRate"/>
                                    <p class="text-center float-right"><span id="demoHealth"></span></p>
                                </div>
                                <div class="form-group m-0">
                                    <label class="text-left" for="growthRate">How would you rate the general growth in your state?</label>
                                    <input type="range" min="1" max="10"value="1" class="slider float-left" id="growthRate" />
                                    <p class="text-center float-right"><span id="demoGrowth"></span></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 float-right">
                    <div class="card m-3">
                        <div class="card-body">
                            <h3 class="m-3">The state where you are living</h3>
                            <img class="img-fluid m-5" src="/img/stateMaps/TX.png" style="width: 100px">
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="card-body">
                            <h3 class="mb-3">This is the overall rating you're giving to the State you live in</h3>
                            <h1 class="text-center m-5" id="totalMarks"></h1>
                            <form class="form-controll">
                                <!--<input type="hidden" name="userId" th:value="${stateUserRating}">-->
                                <!--<input type="hidden" name="userRate" th:value="${userRating.id}">-->
                                <!--<input type="hidden" name="stateId" th:value="${userRating.stateId}"-->
                                <!--<input type="submit" id="overallRating" name="submit" class="submit form-control btn btn-secondary" th:field="*{userRating.id}"  value="Save" />-->
                                <input type="submit" id="overallRating" th:field="*{userRating}" name="submit" class="submit form-control btn btn-secondary" value="Save" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 float-right">
                    <div class="p-5 m-2 create-form text-dark border border-dark rounded" th:each="stateUserRating: ${stateUserRatings}" th:height="auto">
                        <ul class="list-unstyled">
                            <li class="media">
                                <img class="mr-3" src="http://via.placeholder.com/150x150" alt="Generic placeholder image" />
                                <div class="media-body p-2">
                                    <p class="text-center" th:text="${stateUserRating.user.state}"></p>
                                    <p class="text-justify" th:text="${stateUserRating.userRating}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
<div th:replace="partials/layout :: footer" />
<script type="text/javascript">
    // USER RATE VALUE FOR VIOLENCE
    var sliderOne = document.getElementById("violenceRate");
    var outputOne = document.getElementById("demoViolence");
    outputOne.innerHTML =sliderOne.value;

    sliderOne.oninput = function(){
        outputOne.innerHTML = this.value;
    };
    //
    // // USER RATE VALUE FOR EMPLOYMENT
    var sliderTwo = document.getElementById("employmentRate");
    var outputTwo = document.getElementById("demoEmployment");
    outputTwo.innerHTML = sliderTwo.value;

    sliderTwo.oninput = function (){
        outputTwo.innerHTML = this.value;
    };
    //
    // //USER RATE VALUE FOR EDUCATION
    var sliderThree = document.getElementById("educationRate");
    var outputThree = document.getElementById("demoEducation");
    outputThree.innerHTML = sliderThree.value;

    sliderThree.oninput = function (){
        outputThree.innerHTML = this.value;
    };

    // // USER RATE VALUE FOR HEALTH
    var sliderFour = document.getElementById("healthRate");
    var outputFour = document.getElementById("demoHealth");
    outputFour.innerHTML = sliderFour.value;

    sliderFour.oninput = function () {
        outputFour.innerHTML = sliderFour.value;
    };

    // USER RATE VALUE FOR GROWTH
    var slider = document.getElementById("growthRate");
    var output = document.getElementById("demoGrowth");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value;
    };


    // ---------------- OVERALL RATING FROM THE SLIDERS -------------------------------

    $('.slider').each(function() {

        $(this).on('change', function() {
            calcavg();
        })
    });
    function calcavg() {
        var total = 0;
        var avg = 0;

        $('.slider').each(function() {
            if (!isNaN(this.value) && this.value.lenght !=0) {
                total +=parseFloat(this.value);
                // alert(total);
            }
        });
        if (!isNaN(total) && total !=0) {
            // var txtboxes = $('.cal-rating').length;
            var txtboxes = 5;
            Average = parseFloat(total) / 5;
        }
        $('#totalMarks').html(Average);
        // Show Average upto 2 decimal places using .toFixed() method.
        // var star = parseFloat(Average.toFixed(2)) * 20;
        // $('.avg-ovral-rtng .rating-stars').css("width", star + "%");
    }
</script>
</body>
</html>
