<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<div th:replace="states/svg :: states-svg" />
<div th:replace="partials/layout :: navbar" />
<div th:replace="partials/layout :: navbar-profile" />


<div class="container mx-auto" sec:authorize="isAuthenticated()">
    <div class="container">

        <!-- TO RATE -->
        <h3 class="text-center mb-4">Please rate each element of your state!</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="card rating-card m-3">
                        <form class=" bg-faded m-3 p-3" th:action="@{/users/rating}" method="post">
                            <div class="form-group">
                                <h5 class="m-b-1 text-center">1:Bad | 10: Good</h5>
                            </div>
                            <div class="form-group m-5 mb-2">
                                <label class="text-left" for="violenceRate">How safe do you feel where you live?
                                <img src="/img/icon-info.png" id="q-violence"/></label><br/>
                                <small class="text-left m-2" id="info-crime">Do you feel safe when you go out in your city? Have you experienced any type of crime?</small>
                                <input type="range" min="1" max="10" value="1" class="slider float-left" id="violenceRate"/>
                                <input type="hidden" id="hdrating" name="hdrating">
                                <h4 class="text-center float-right" id="rating"><span class="slider-val"></span></h4>
                            </div>
                            <div class="form-group m-5">
                                <label class="text-left" for="employmentRate">How would you rank the employment rate in your state?
                                <img src="/img/icon-info.png" id="q-employment"/></label><br/>
                                <small class="text-left m-2" id="info-employment">How hard is to get a job in your city? Are the salaries good?</small>
                                <input type="range" min="1" max="10" value="1" class="slider float-left" id="employmentRate"/>
                                <h4 class="text-center float-right"><span class="slider-val"></span></h4>
                            </div>
                            <div class="form-group m-5">
                                <label class="text-left" for="educationRate">How would you rank the education system in your state?
                                    <img src="/img/icon-info.png" id="q-education"/></label><br>
                                <small class="text-left" id="info-education">Are there good schools/universities in your city?
                                What's the education level of your friends, family or people you know?</small>
                                <input type="range" min="1" max="10" value="1" class="slider float-left" id="educationRate"/>
                                <h4 class="text-center float-right"><span class="slider-val"></span></h4>
                            </div>
                            <div class="form-group m-5">
                                <label class="text-left" for="healthRate">How would you rank the health care system in your state?
                                    <img src="/img/icon-info.png" id="q-health"/></label><br/>
                                <small class="text-left" id="info-health">How expensive are the healthcare services in your city?
                                Do you consider are enough medical services, health programs, hospitals?</small>
                                <input type="range" min="1" max="10" value="1" class="slider float-left" id="healthRate"/>
                                <h4 class="text-center float-right"><span class="slider-val"></span></h4>
                            </div>
                            <div class="form-group m-5">
                                <label class="text-left" for="growthRate">How would you rate the general growth in your state?
                                    <img src="/img/icon-info.png" id="q-growth"/></label><br/>
                                <small class="text-left" id="info-growth">Is your city increasing in infrastructure, business and/or economy
                                development?</small>
                                <input type="range" min="1" max="10"value="1" class="slider float-left" id="growthRate"/>
                                <h4 class="text-center float-right ml-3"><span class="slider-val"></span></h4>
                            </div>

                        </form>
                </div>
            </div>
            <div class="col-sm-6 float-right"  id="state-profile">
                <div class="card state-bg-photo m-3" th:style="@{background-image: url(} + ${photo.large1600Url}+ @{);}">
                    <h3 class="card-title p-2 title-card text-center" th:text="${state.name}"></h3>

                    <div class="card-body  d-flex flex-column align-items-center justify-content-between">
                        <div class="state">
                            <svg th:class="@{icon icon-state-} + ${state.abbr}" style="height: 200px;">
                                <use th:xlink:href="@{#icon-state-} + ${state.abbr}"></use>
                            </svg>
                        </div>

                        <div class="state-btn-list d-flex flex-row justify-content-between align-items-center">
                            <a class="btn btn-primary" th:href="@{/state/} + ${state.abbr}" style="color: white">View your State</a>

                        </div>
                    </div>
                </div>
                <!--<div class="card m-3">-->
                    <div class="card-body">
                        <h3 class="mb-3 text-center">This is the overall rating you're giving to the State you live in</h3>
                        <h1 class="text-center m-5 title-slider" id="totalMarks"></h1>
                        <form class="form-control" th:action="@{/users/rating}" method="post" th:object="${userRate}" onsubmit="return checkForm(this)">

                            <input type="hidden" name="crime" id="crime">
                            <input type="hidden" name="education" id="education">
                            <input type="hidden" name="employment" id="employment">
                            <input type="hidden" name="health" id="health">
                            <input type="hidden" name="growth" id="growth">


                            <th:block th:each="rating : ${currentRating}">

                                <input type="hidden" th:name="@{old_} + ${rating?.metric?.name}" th:id="@{old_} + ${rating?.metric?.name}"  th:value="${rating?.rating}">

                            </th:block>


                            <input type="hidden"  id="userRate"  name="userRate" th:value="${userRate}"/>

                            <input name="submit" type="submit" id="overallRating"  class="submit form-control btn btn-secondary" value="Submit Rating" />
                        </form>
                    </div>
            </div>
            <div class="col-sm-6 float-right">
                <div class="p-5 m-2 create-form text-dark border border-dark rounded" th:each="stateUserRating: ${stateUserRatings}">
                    <ul class="list-unstyled">
                        <li class="media">
                            <img class="mr-3" src="http://via.placeholder.com/150x150" alt="Generic placeholder image" />
                            <div class="media-body p-2">
                                <p class="text-center" th:text="${stateUserRating.user.state}"></p>
                                <p class="text-justify" th:text="${stateUserRating.stateUserRating}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/layout :: footer" />
<script type="text/javascript">
    // ---------------- OVERALL RATING FROM THE SLIDERS -------------------------------



    $('#violenceRate').val($('#old_Crime').val());
    // $('#violenceRate').parent().find('span').text($('#old_Crime').val());
    $('#employmentRate').val($('#old_Employment').val());
    $('#healthRate').val($('#old_Health').val());
    $('#growthRate').val($('#old_Growth').val());
    $('#educationRate').val($('#old_Education').val());


    $('#education').val($('#educationRate').val());
    $('#growth').val($('#growthRate').val());
    $('#health').val($('#healthRate').val());
    $('#crime').val($('#violenceRate').val());
    $('#employment').val($('#employmentRate').val());


    calcavg();


    $('.slider').each(function() {
        $(this).on('change', function() {
            $(this).parent().find('span').text($(this).val());
            valueUpdate($(this).attr('id'),  $(this).val());
            calcavg();
        })
    });
    // comment
    function calcavg() {


        var total = 0;
        var avg = 0;
        $('.slider').each(function() {
            if (!isNaN(this.value) && this.value.length !=0) {
                total +=parseFloat(this.value);
            }
        });
        if (!isNaN(total) && total !=0) {
            var txtboxes = 5;
            Average = parseFloat(total) / 5;
        }
        $('#totalMarks').html(Average);
        $('#currentRate').valueOf().html;
        $('#userRate').val(Average)
    }
    function valueUpdate(slider, value) {
        switch(slider) {
            case "violenceRate":
                $('#crime').val(value);
                break;
            case "educationRate":
                $('#education').val(value);
                break;
            case "employmentRate":
                $('#employment').val(value);
                break;
            case "healthRate":
                $('#health').val(value);
                break;
            case "growthRate":
                $('#growth').val(value);
                break;
            default:
        }
    }
    $("#q-violence").click(function(){
        $("#info-crime").toggle();
    });
    $("#q-employment").click(function(){
        $("#info-employment").toggle();
    });
    $("#q-education").click(function(){
        $("#info-education").toggle();
    });
    $("#q-health").click(function(){
        $("#info-health").toggle();
    });
    $("#q-growth").click(function(){
        $("#info-growth").toggle();
    });
    function checkForm(form) {
        form.submit.value = "Please Wait...";
        form.submit.disabled = true;
        return true;
    }
</script>
<script th:src="@{~/built/news.js}"></script>
</body>
</html>