<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" >

<head th:replace="partials/layout :: header" >
    <meta charset="UTF-8" />
    <title>State</title>
</head>
<body>
<div th:replace="partials/layout :: navbar" >
</div>
    <div>
    <h1>State Page</h1>
        
        <div>
            <img src="img/stateMaps/TX.png" height="500" width="500" alt="">
            <img src="img/test/spiderchart.png" height="400" width="400" alt="">
        </div>

        <div>


        </div>

    </div>
</div>

    <div th:replace="partials/layout :: footer" >
</div>
</body>
</html>