<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head th:replace="partials/layout :: header" >
    <meta charset="UTF-8" />
    <title>State</title>
</head>
<body>
<div th:replace="partials/layout :: navbar" />
<span class="overlay"></span>

<h1>Hello World</h1>
    <div class="container">
    <h1>State Page</h1>

        <div>
             <!--<img th:attr="src="-->
            <img id="#stateMap" name="stateMap" src="img/stateMaps/TX.png" height="500" width="500" alt="">
            <!--<img src="img/test/spiderchart.png" height="400" width="400" alt="">-->
        </div>

        <div>

            <div class="col-md-8">
                <form>

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option value="stateMap"><a href="img/stateMaps/AL.png">Alabama</a></option>
                                <option value="stateMap"><a href="img/stateMaps/AK.png"> Alaska</a></option>
                                <option value="stateMap"><a href="img/stateMaps/AZ.png">Arizona</a></option>
                                <option>Arkansas</option>
                                <option>California</option>
                                <option>Colorado</option>
                                <option>Connecticut</option>
                                <option>Delaware</option>
                                <option>Florida</option>
                                <option>Georgia</option>
                                <option>Hawaii</option>
                                <option>Idaho</option>
                                <option>Illinois</option>
                                <option>Indiana</option>
                                <option>Iowa</option>
                                <option>Kansas</option>
                                <option>Kentucky</option>
                                <option>Louisiana</option>
                                <option>Maine</option>
                                <option>Maryland</option>
                                <option>Massachusetts</option>
                                <option>Michigan</option>
                                <option>Minnesota</option>
                                <option>Mississippi</option>
                                <option>Missouri</option>
                                <option>Montana</option>
                                <option>Nebraska</option>
                                <option>Nevada</option>
                                <option>New Hampshire</option>
                                <option>New Jersey</option>
                                <option>New Mexico</option>
                                <option>New York</option>
                                <option>North Carolina</option>
                                <option>North Dakota</option>
                                <option>Ohio</option>
                                <option>Oklahoma</option>
                                <option>Oregon</option>
                                <option>Pennsylvania</option>
                                <option>Rhode Island</option>
                                <option>South Carolina</option>
                                <option>South Dakota</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Utah</option>
                                <option>Vermont</option>
                                <option>Virginia</option>
                                <option>Washington</option>
                                <option>West Virginia</option>
                                <option>Wisconsin</option>
                                <option>Wyoming</option>
                            </select>
                            <button ></button>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <!--<button type="submit" class="btn btn-primary">Sign in</button>-->
                </form>
            </div>


        </div>

        <div class="col-12 d-flex">
            <div class="card mb-3">
                <img class="card-img-top m-5 img-fluid mx-auto" src="/img/stateMaps/AK.png" style= "width: 400px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <!-- TO RATE -->
                    <form class="card col-6 card-block bg-faded m-3 p-3 login-card" th:action="@{/users/viewstate}" method="POST">
                    <h2 class="m-b-1 text-xs-center">Rating for Arkansas</h2>
                    <div class="form-group m-0">
                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="violenceRate" />
                    <p class="text-center float-right"><span id="demoViolence"></span></p>
                    </div>
                    <div class="form-group m-0">
                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="employmentRate" />
                    <p class="text-center float-right"><span id="demoEmployment"></span></p>
                    </div>
                    <div class="form-group m-0">
                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="educationRate" />
                    <p class="text-center float-right"><span id="demoEducation"></span></p>
                    </div>
                    <div class="form-group m-0">
                    <input type="range" min="1" max="10" value="1" class="slider float-left" id="healthRate"/>
                    <p class="text-center float-right"><span id="demoHealth"></span></p>
                    </div>
                    <div class="form-group m-0">
                    <input type="range" min="1" max="10"value="1" class="slider float-left" id="growthRate" />
                    <p class="text-center float-right"><span id="demoGrowth"></span></p>
                    </div>
                    <input type="submit" name="submit" class="submit action-button bt btn-secondary" value="Submit" />
                    </form>
                    <div class="card col-4 float-right mb-3">
                        <p>here are the graphics</p>
                    </div>
                </div>

            </div>


        </div>

    </div>



    <div th:replace="partials/layout :: footer" />
<script type="text/javascript">
    // var baseURL_of_stateMaps = "../img/stateMaps";
    // var displayMap = document.getElementById("stateMap");
    // var value =displayMap.options[displayMap.selectedIndex].value;
    //
    // var stateMaps = ["AK.png","AL.png","AR.png","CA.png","CO.png," +
    // "CT.png","DE.png"];
    //
    // function switchMap(mapNum){
    //     var x = parseInt(mapNum);
    //     var src = baseURL_of_stateMaps + ((x < 0) ? "DefaultMap.png:": stateMaps[x] );
    //     document.getElementById("")
    // }
    //

    // USER RATE VALUE FOR VIOLENCE
    var sliderOne = document.getElementById("violenceRate");
    var outputOne = document.getElementById("demoViolence");
    outputOne.innerHTML =sliderOne.value;

    sliderOne.oninput = function(){
        outputOne.innerHTML = this.value;
    };
    //
    // // USER RATE VALUE FOR EMPLOYMENT
    var sliderTwo = document.getElementById("employmentRate");
    var outputTwo = document.getElementById("demoEmployment");
    outputTwo.innerHTML = sliderTwo.value;

    sliderTwo.oninput = function (){
        outputTwo.innerHTML = this.value;
    };
    //
    // //USER RATE VALUE FOR EDUCATION
    var sliderThree = document.getElementById("educationRate");
    var outputThree = document.getElementById("demoEducation");
    outputThree.innerHTML = sliderThree.value;

    sliderThree.oninput = function (){
        outputThree.innerHTML = this.value;
    };

    // // USER RATE VALUE FOR HEALTH
    var sliderFour = document.getElementById("healthRate");
    var outputFour = document.getElementById("demoHealth");
    outputFour.innerHTML = sliderFour.value;

    sliderFour.oninput = function () {
        outputFour.innerHTML = sliderFour.value;
    };

    // USER RATE VALUE FOR GROWTH
    var slider = document.getElementById("growthRate");
    var output = document.getElementById("demoGrowth");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
</body>
</html>