body {
    background-image: url("../img/map.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

footer {
    display: none;
}
.navbar {
    z-index: 100;
    background-color: transparent;
}

.navbar-dark, .bg-primary {
    background-color: transparent !important;

}


.btn-secondary {
    background-color: transparent;
    border: 0;
}

.btn-secondary:hover {
    background-color: transparent;
}


#state-go {
 cursor: pointer;
}