
/*MAP CSS Save seperately later*/



.map-container {
    height: calc(100vh - 115px);
}

#map {
    padding-top: 5px;
    min-width: 940px;
    text-align: center;
    height: 600px;
    max-height: 100vh;
}


.navbar {
    padding-top:0;
    padding-bottom:0;
}


#education-chart {
    height: calc(100vh - 200px);
}

#growth-chart, #health-chart, #radar-chart, #crime-chart {
    height: calc(100vh - 200px);
}

.state .icon {
    stroke-width: 1;
    stroke: #fff;
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.state {
    color: #5a6aff;
    transition: 500ms color;
    padding-left: 15px;
}


.state-tiny {
    width: 50px;
    height: 50px;
    float: left;
    color: black;
}

.col-md-6 {
    width: 50vw;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.main-state-nav {
    padding-top: 10px;
}


.state-half-border {
    border-right: 1px dotted #d7d7d7;
    padding-right: 0;
    margin-right: 0
}



.state:hover {
    color: #72cfff;
}

.tooltip {
    z-index: 9999999;
}

#popperElement {
    padding: 15px;
    background: rgba(255,255,255,0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ff9890;
    width: 400px;
}

.page {
    padding: 0;
}

.view-state .page {
    padding: 20px;
}

.left-state, right-state {
 width: 50%;
    height: calc(100vh - 50px);
}

.left-state {
    border-right: 1px dotted #d7d7d7;
}


/*.one {*/
    /*background-color: rgba(41, 17, 18, 0.8);*/
/*}*/

.two {
    background-color: rgba(111, 102, 102, 0.8);
}
.three {
    background-color: rgba(156, 143, 143, 0.8);
}

.four {
    background-color: rgba(185, 170, 170, 0.8);
}

.five {
    background-color: rgba(208, 191, 191, 0.8);
}

h2 {
    font-size: 5.2vw;
}


.metric {

}

.metric .name {
    text-transform: uppercase;
    font-size: 1.0vw;
    text-align: center;
}

.metric .number {
    font-size: 3.0vw;
    text-align: center;
}

.bold {
    font-weight: bold;

}

.state-header-name {
    font-size: 7em;
    color: #fff;
    text-shadow: 2px 1px 8px rgba(150, 150, 150, 0.75);
    margin:0;

}

.state-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 100;

    background-color: rgba(255,255,255,1);
    border-bottom: 2px solid pink;
}


.state-header {
    width: 100vw;
    height: calc(100vh - 50px);
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}


.state-header-half {
    width: 50%;
    height: calc(100vh - 50px);
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}



.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}​


 .corner-ribbon {


     top: 25px;
     left: -50px;
     text-align: center;
     line-height: 80px;
     letter-spacing: 1px;
     color: #f0f0f0;
     transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
 }

.corner-ribbon.top-left{
    top: 89px;
    padding: 20px;
    left: -79px;
    width: 311px;
    text-align: center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1;
    position: absolute;
}

.navbar {
    z-index: 2;
}

.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.red{
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);

}

