
/*MAP CSS Save seperately later*/



.map-container {
    height: calc(100vh - 115px);
}

#map {
    padding-top: 5px;
    min-width: 940px;
    text-align: center;
    height: 600px;
    max-height: 100vh;
}


.navbar {
    padding-top:0;
    padding-bottom:0;
}


#education-chart {
    height: calc(100vh - 200px);
}

#growth-chart, #health-chart, #radar-chart, #crime-chart {
    height: calc(100vh - 200px);
}

.state .icon {
    stroke-width: 1;
    stroke: #fff;
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.state {
    color: #5a6aff;
    transition: 500ms color;
    padding-left: 15px;
}


.state-tiny {
    width: 50px;
    height: 50px;
    float: left;
    color: black;
}

.col-md-6 {
    width: 50vw;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}


.main-state-nav {
    padding-top: 10px;
}


.state-half-border {
    border-right: 1px dotted #d7d7d7;
    padding-right: 0;
    margin-right: 0
}



.state:hover {
    color: #72cfff;
}

.tooltip {
    z-index: 9999999;
}

#popperElement {
    padding: 15px;
    background: rgba(255,255,255,0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ff9890;
    width: 400px;
}

.page {
    padding: 0;
}

.view-state .page {
    padding: 20px;
}

.left-state, right-state {
 width: 50%;
    height: calc(100vh - 50px);
}

.left-state {
    border-right: 1px dotted #d7d7d7;
}


/*.one {*/
    /*background-color: rgba(41, 17, 18, 0.8);*/
/*}*/

.two {
    background-color: rgba(111, 102, 102, 0.8);
}
.three {
    background-color: rgba(156, 143, 143, 0.8);
}

.four {
    background-color: rgba(185, 170, 170, 0.8);
}

.five {
    background-color: rgba(208, 191, 191, 0.8);
}

h2 {
    font-size: 5.2vw;
}


.metric {

}

.metric .name {
    text-transform: uppercase;
    font-size: 1.0vw;
    text-align: center;
}

.metric .number {
    font-size: 3.0vw;
    text-align: center;
}

.bold {
    font-weight: bold;

}

.state-header-name {
    font-size: 7em;
    color: #fff;
    text-shadow: 2px 1px 8px rgba(150, 150, 150, 0.75);
    margin:0;

}

.state-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 100;

    background-color: rgba(255,255,255,1);
    border-bottom: 2px solid pink;
}


.state-header {
    width: 100vw;
    height: calc(100vh - 50px);
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}


.state-header-half {
    width: 50%;
    height: calc(100vh - 50px);
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}

