
/*MAP CSS Save seperately later*/

.map-container {
    background:  #73b5c059;
}

#map {
    padding-top: 5px;
    min-width: 940px;
    text-align: center;
    height: 100vh;
}


#radar-chart {
    min-height: 400px;
}

.state .icon {
    stroke-width: 1;
    stroke: #fff;
    fill: currentColor;
    height: 100%;
    width: 100%;
}

.state {
    color: #5a6aff;
    transition: 500ms color;
}


.state-tiny {
    width: 50px;
    height: 50px;
    float: left;
    color: black;
}




.state:hover {
    color: #72cfff;
}

.tooltip {
    z-index: 9999999;
}

#popperElement {
    padding: 15px;
    background: rgba(255,255,255,0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ff9890;
    width: 400px;
}