body {
    -webkit-background-size: cover;
    background-size: cover;
}

#register-bg {
    background: #EC6F66;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(243,161,131, 0.9), rgba(236,111,102, 0.9));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(243,161,131, 0.9), rgba(236,111,102, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50vh;
    width: 70vw;
    align-items: left;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}


.sign-up-container {
    width: 100vw;
    height: calc(100vh - 55px) ;
}

#account-check-container {
    height: 100%;
}


.form-sign-up {
    position: relative;
    top: -70px;
    margin-left: 40px;
    max-width: 500px;
    min-width: 450px;
    float: left;

}

#account-check {
    float: left;
}

#account-check p {
    color: #fff;
    font-size: 2em;
}

#signupUser {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    min-height: 63vh;
}
