body {
}

.wrapper {
    width: 90%;
    height: auto;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.create-form {
    background-color: #DC6F68;
}

#totalMarks {
    font-size: 96px;
    margin: 10px;
    color: #DC6F68;
}

.about-us {
    height: auto;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

