<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>

<div th:replace="partials/layout :: navbar" />

<div class="splash-container text-center d-flex flex-column align-items-center justify-content-center">


    <div class="row">
        <div class="col-12 mx-auto text-center">
        <img th:src="@{~/img/logo.png}" alt="Q-she" class="logo-big" />
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col-md-6 col-12 mx-auto text-center">

    <blockquote><p></p>
        A quote that somehow higlights gender bias and explains the function of this application as per the designers intentions.

    </blockquote>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mx-auto text-center">
          <a th:href="@{~/sign-up}" class="btn btn-primary">Join Today</a>
        </div>
    </div>

</div>

<div th:replace="partials/layout :: footer" />
</body>
</html>