<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body class="bubble">


<canvas id="canvasbg"></canvas>
<canvas id="canvas"></canvas>


<div th:replace="partials/layout :: navbar" />


<div class="content text-center d-flex flex-column align-items-center justify-content-center">

    <div class="content-box">
    <div class="row">
        <div class="col-12 mx-auto text-center">
        <img th:src="@{~/img/logo.png}" alt="Q-she" class="logo-big" />
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col-md-6 col-12 mx-auto text-center">

    <blockquote><p></p>
        Know the quality of life you're getting in your state. Rate your state. Share your experiences and connect with others. This time
        we're standing for SHE: Safety, Health, Employment and Education.

    </blockquote>
        </div>
    </div>


        <div class="content-box">

            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <a th:href="@{~/sign-up}" class="btn btn-primary">Join Today</a>
                </div>
            </div>

</div>

    </div>




<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/bubble.js}"></script>
</body>
</html>