<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header (page='Compare States')">
    <meta charset="UTF-8" />
    <title>Index page</title>

</head>
<body>

<div th:replace="states/svg :: states-svg" />
<div th:replace="partials/layout :: navbar" />

<div class="row">

<th:block th:each="p : ${photoA}">

    <div  class="d-flex flex-column justify-content-center align-items-center state-header-half" th:style="@{background-image: url(} + ${p.large1600Url}+ @{);}">


        <div class="state-header-icon">
            <div class="state pt-4">
                <svg th:class="@{icon icon-state-} + ${stateA.abbr}">
                    <use th:xlink:href="@{#icon-state-} + ${stateA.abbr}"></use>
                </svg>
            </div>
        </div>

        <div id="state-nameA" class="state-header-name" th:data-abbr="${stateA.abbr}" th:text="${stateA.name}"></div>

    </div>
</th:block>


<th:block th:each="p : ${photoB}">
    <!--<img th:src="${p.medium800Url}">-->

    <div  class="d-flex flex-column justify-content-center align-items-center state-header-half" th:style="@{background-image: url(} + ${p.large1600Url}+ @{);}">


        <div class="state-header-icon">
            <div class="state pt-4">
                <svg th:class="@{icon icon-state-} + ${stateB.abbr}">
                    <use th:xlink:href="@{#icon-state-} + ${stateB.abbr}"></use>
                </svg>
            </div>
        </div>

        <div id="state-nameB" class="state-header-name" th:data-abbr="${stateB.abbr}" th:text="${stateB.name}"></div>

    </div>
</th:block>

</div>



<div class="state-nav row">
    <div class="col-md-6 text-nowrap state-half-border">
        <div class="state state-tiny" id="state-tiny" th:data-state-abbr="${stateA.abbr}">
            <svg th:class="@{icon icon-state-} + ${stateA.abbr}">
                <use th:xlink:href="@{#icon-state-} + ${stateA.abbr}"></use>
            </svg>
        </div>
        <h1>
            <a th:href="@{~/state/} + ${stateA.abbr}" th:text="${stateA.name}"></a></h1>
    </div>
    <div class="col-md-6 text-nowrap">
        <div class="state state-tiny" id="state-tiny" th:data-state-abbr="${stateB.abbr}">
            <svg th:class="@{icon icon-state-} + ${stateB.abbr}">
                <use th:xlink:href="@{#icon-state-} + ${stateB.abbr}"></use>
            </svg>
        </div>
        <h1>
            <a th:href="@{~/state/} + ${stateB.abbr}" th:text="${stateB.name}"></a></h1>
    </div>

</div>




<!--Page 1 GROWTH-->
<div class="row  page one row-full-screene">

    <!--Start Left -->
    <div class="left-state">
        <h2><i class="far fa-chart-bar"></i> Growth</h2>


        <div class="row pt-4">
            <div class="description-text">
                <p>This chart displays population growth in <span th:text="${stateA.name}"></span>
                    from 2010 to 2016. The state population has increased by <span class="bold">4%</span> in the last 6 years.</p>
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">3.7</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">7.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">4%</div>
                <div class="name text-center">YEAR OVER YEAR POPULATION GROWTH</div>
            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row pt-4">
            <div class="description-text">
                <p>The state ranks <span class="bold">15th</span> overall when compared against
                    all other States.
            </div>
        </div>


        <div id="stateA-growth-chart"></div>

    </div>
    <!--End Left-->

    <div class="right-state">

        <h2><i class="far fa-chart-bar"></i> Growth</h2>

        <div class="row pt-4">
            <div class="description-text">
                <p>This chart displays population growth in <span th:text="${stateB.name}"></span>
                    from 2010 to 2016. The state population has increased by <span class="bold">4%</span> in the last 6 years.</p>
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">3.7</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">7.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">4%</div>
                <div class="name text-center">YEAR OVER YEAR POPULATION GROWTH</div>
            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row pt-4">
            <div class="description-text">
                <p>The state ranks <span class="bold">15th</span> overall when compared against
                    all other States.
            </div>
        </div>

        <div id="stateB-growth-chart"></div>
     </div>
    <!--End right-->

</div>


<!--NEXT PAGE  EDUCATION -->

<div class="row  page two row-full-screen">
    <div class="left-state">

        <h2><i class="fas fa-chalkboard"></i> Education</h2>

        <div class="row pt-4">

            <div class="description-text">
                <p>This chart displays the number of female graduates in the state of <span th:text="${stateA.name}"></span>
                    from 2013 to 2015. The number of graduates has increased by <span class="bold">1.2%</span> in the last 3 years.</p>
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">6.7</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">4.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">917,179</div>
                <div class="name text-center">FEMALE GRADUATES SINCE 2013</div>
            </div>
            <div class="col-md-3"></div>


        </div>

        <div class="row pt-4">

            <div class="description-text">
                <p>The state ranks <span class="bold">45th</span> overall when compared against graduates totals
                    from all other States. It ranks <span class="bold">32nd</span> when compared as a increase of
                    graduates over the past 3 years.
            </div>

        </div>


        <div id="stateA-education-chart"></div>
    </div>

    <div class="right-state">


        <h2><i class="fas fa-chalkboard"></i> Education</h2>

        <div class="row pt-4">

            <div class="description-text">
                <p>This chart displays the number of female graduates in the state of <span th:text="${stateB.name}"></span>
                    from 2013 to 2015. The number of graduates has increased by <span class="bold">1.2%</span> in the last 3 years.</p>
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">6.7</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">4.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">917,179</div>
                <div class="name text-center">FEMALE GRADUATES SINCE 2013</div>
            </div>
            <div class="col-md-3"></div>


        </div>

        <div class="row pt-4">

            <div class="description-text">
                <p>The state ranks <span class="bold">45th</span> overall when compared against graduates totals
                    from all other States. It ranks <span class="bold">32nd</span> when compared as a increase of
                    graduates over the past 3 years.
            </div>

        </div>


        <div id="stateB-education-chart"></div>

    </div>

</div>


<div class="row  page three row-full-screen">
    <div class="left-state">

        <h2><i class="fas fa-user-md"></i> Health</h2>

        <div class="row pt-4">

            <div class="description-text">
                <p>This chart displays Health options for  <span th:text="${stateA.name}"></span>
                    from 2013 to 2015.
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">8.2</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">9.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">101,011</div>
                <div class="name text-center">NEW HEALTH CARE FACILITIES PER YEAR</div>
            </div>
            <div class="col-md-3"></div>


        </div>

        <div class="row pt-4">

            <div class="description-text">
                <p>The state ranks <span class="bold">15th</span> overall when compared against other states.
            </div>

        </div>


    </div>

    <div class="right-state">

        <h2><i class="fas fa-user-md"></i> Health</h2>

        <div class="row pt-4">

            <div class="description-text">
                <p>This chart displays Health options for  <span th:text="${stateB.name}"></span>
                    from 2013 to 2015.
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">8.2</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">9.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">101,011</div>
                <div class="name text-center">NEW HEALTH CARE FACILITIES PER YEAR</div>
            </div>
            <div class="col-md-3"></div>


        </div>

        <div class="row pt-4">

            <div class="description-text">
                <p>The state ranks <span class="bold">15th</span> overall when compared against other states.
            </div>

        </div>




    </div>

</div>


<div class="row  page four row-full-screen">

    <div class="left-state">

        <h2><i class="far fa-smile"></i> Safety</h2>


        <div class="row pt-4">

            <div class="description-text">
                <p>This chart displays the breakdown of crimes in <span th:text="${stateA.name}"></span>
                    for the past 5 years. Overall crime has increased by <span class="bold">1.2%</span> since 2010. Violent crime
                    has decreaed by <span>3.2%</span> in the same time period.</p>
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">8.7</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">6.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">20th</div>
                <div class="name text-center">RANKING VS OTHER STATES</div>
            </div>
            <div class="col-md-3"></div>


        </div>

        <div class="row pt-4">

            <div class="description-text">
                <p>The state ranks <span class="bold">20th</span> overall when compared against graduates totals
                    from all other States.

            </div>
        </div>

    </div>

    <div class="right-state">

        <h2><i class="far fa-smile"></i> Safety</h2>


        <div class="row pt-4">

            <div class="description-text">
                <p>This chart displays the breakdown of crimes in <span th:text="${stateB.name}"></span>
                    for the past 5 years. Overall crime has increased by <span class="bold">1.2%</span> since 2010. Violent crime
                    has decreaed by <span>3.2%</span> in the same time period.</p>
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">8.7</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">6.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">20th</div>
                <div class="name text-center">RANKING VS OTHER STATES</div>
            </div>
            <div class="col-md-3"></div>


        </div>

        <div class="row pt-4">

            <div class="description-text">
                <p>The state ranks <span class="bold">20th</span> overall when compared against graduates totals
                    from all other States.

            </div>
        </div>


    </div>

</div>




<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/state.js}"> </script>
</body>
</html>