<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>

</head>
<body>

<div th:replace="states/svg :: states-svg" />
<div th:replace="partials/layout :: navbar" />

<div class="row">

<th:block th:each="p : ${photoA}">

    <div  class="d-flex flex-column justify-content-center align-items-center state-header-half" th:style="@{background-image: url(} + ${p.large1600Url}+ @{);}">


        <div class="state-header-icon">
            <div class="state pt-4">
                <svg th:class="@{icon icon-state-} + ${stateA.abbr}">
                    <use th:xlink:href="@{#icon-state-} + ${stateA.abbr}"></use>
                </svg>
            </div>
        </div>

        <div id="state-nameA" class="state-header-name" th:data-abbr="${stateA.abbr}" th:text="${stateA.name}"></div>

    </div>
</th:block>


<th:block th:each="p : ${photoB}">
    <!--<img th:src="${p.medium800Url}">-->

    <div  class="d-flex flex-column justify-content-center align-items-center state-header-half" th:style="@{background-image: url(} + ${p.large1600Url}+ @{);}">


        <div class="state-header-icon">
            <div class="state pt-4">
                <svg th:class="@{icon icon-state-} + ${stateB.abbr}">
                    <use th:xlink:href="@{#icon-state-} + ${stateB.abbr}"></use>
                </svg>
            </div>
        </div>

        <div id="state-nameB" class="state-header-name" th:data-abbr="${stateB.abbr}" th:text="${stateB.name}"></div>

    </div>
</th:block>

</div>



<div class="state-nav row">
    <div class="col-md-6 text-nowrap state-half-border">
        <div class="state state-tiny" id="state-tiny" th:data-state-abbr="${stateA.abbr}">
            <svg th:class="@{icon icon-state-} + ${stateA.abbr}">
                <use th:xlink:href="@{#icon-state-} + ${stateA.abbr}"></use>
            </svg>
        </div>
        <h1>
            <a th:href="@{~/state/} + ${stateA.abbr}" th:text="${stateA.name}"></a></h1>
    </div>
    <div class="col-md-6 text-nowrap">
        <div class="state state-tiny" id="state-tiny" th:data-state-abbr="${stateB.abbr}">
            <svg th:class="@{icon icon-state-} + ${stateB.abbr}">
                <use th:xlink:href="@{#icon-state-} + ${stateB.abbr}"></use>
            </svg>
        </div>
        <h1>
            <a th:href="@{~/state/} + ${stateB.abbr}" th:text="${stateB.name}"></a></h1>
    </div>

</div>




<!--Page 1-->
<div class="page one">

    <!--Start Left -->
    <div class="left-state">
        <h2><i class="far fa-chart-bar"></i> Growth</h2>


        <div class="row pt-4">
            <div class="description-text">
                <p>This chart displays population growth in <span th:text="${stateA.name}"></span>
                    from 2010 to 2016. The state population has increased by <span class="bold">4%</span> in the last 6 years.</p>
            </div>

        </div>

        <div  class="row pt-4">
            <div class="metric col-md-6">
                <div class="number">3.7</div>
                <div class="name">User Rating</div>
            </div>

            <div class="metric col-md-6">
                <div class="number">7.2</div>
                <div class="name">True Sense</div>
            </div>

            <div class="col-md-3"></div>
            <div class="metric col-md-6">
                <div class="number text-center">4%</div>
                <div class="name text-center">YEAR OVER YEAR POPULATION GROWTH</div>
            </div>
            <div class="col-md-3"></div>

        </div>

        <div class="row pt-4">
            <div class="description-text">
                <p>The state ranks <span class="bold">15th</span> overall when compared against
                    all other States.
            </div>
        </div>
    </div>
    <!--End Left-->

    <div class="right-state"></div>

</div>


<div class="row  page two row-full-screen">
    <div class="left-state"></div>

    <div class="right-state"></div>

</div>


<div class="row  page three row-full-screen">
    <div class="left-state"></div>

    <div class="right-state"></div>

</div>


<div class="row  page four row-full-screen">

    <div class="left-state"></div>

    <div class="right-state"></div>

</div>




<div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/state.js}"> </script>
</body>
</html>