<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/layout :: header">
    <meta charset="UTF-8" />
    <title>Index page</title>
</head>
<body>


<div th:replace="partials/layout :: navbar" />

<div class="text-center d-flex flex-column align-items-center justify-content-center">
    <div id="map"></div>
</div>


<div id="popperElement">
    Texas Overall Rating: 4.4
    <hr>

    Education:

    Growth:

    Crime:



</div>

<div th:replace="partials/layout :: footer" />
<script  th:src="@{~/built/map.js}"></script>
</body>
</html>