<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" >

<head th:replace="partials/layout :: header" >
    <meta charset="UTF-8" />
    <title>State</title>
</head>

<body>

<div th:replace="states/svg :: states-svg" />

<div th:replace="partials/layout :: navbar" />

<div class="scroller">

<th:block th:each="p : ${photos}">
    <!--<img th:src="${p.medium800Url}">-->
    <div  class=" page d-flex flex-column justify-content-center align-items-center state-header" th:style="@{background-image: url(} + ${p.large1600Url}+ @{);}">


        <div class="state-header-icon">
            <div class="state pt-4">
                <svg th:class="@{icon icon-state-} + ${state.abbr}">
                    <use th:xlink:href="@{#icon-state-} + ${state.abbr}"></use>
                </svg>
            </div>
        </div>

        <div class="state-header-name" th:text="${state.name}"></div>

    </div>
</th:block>

</div>

<!--state news modal-->
<!--body continues to scroll while user is scrolling through modal-->
<div class="modal fade" id="modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" th:text="${state.name}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="morenews"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    <div class="padding-container">

    <div class="state-nav row">
        <div class="col-md-2 text-nowrap">

            <div class="state state-tiny" id="state-tiny" th:data-state-abbr="${state.abbr}">
                <svg th:class="@{icon icon-state-} + ${state.abbr}">
                    <use th:xlink:href="@{#icon-state-} + ${state.abbr}"></use>
                </svg>
            </div>


            <h1>
                <span th:text="${state.name}"></span></h1></div>
        <div class="col-md-10 ml-auto text-nowrap">
            <div class="form-inline form-row text-right align-items-right">
                <select id="inputState" class="form-control ml-auto mr-3">
                    <option disabled selected>Select State...</option>
                    <option  th:each="state : ${states}" th:text="${state.name}" th:value="${state.abbr}"> state name </option>
                </select>
                <button class="state-btn btn btn-primary mr-2" th:data-current-abbr="${state.abbr}" data-selected-abbr="">Compare with Current</button>
                <button class="state-btn btn btn-primary" data-selected-abbr="">Go To</button>
            </div>

        </div>
    </div>


    <hr>

        <div class=" page row row-full-screen ">
            <div class="col-md-4">
                <div class="card mb-4 mt-4">
                    <div class="card-header" >
                        <h5>State News</h5>
                    </div>
                    <div class="card-body">
                        <ul id="statenews" th:data-state-name="${state.name}"></ul>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">View more News</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" >
                        <h5>State Discussions</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>People want more taxes!</li>
                            <li>Why did my neighbor wake up so early?</li>
                            <li>Health concerns are threatening my TV</li>
                        </ul>
                        <a th:href="@{~/posts/all/}+ ${state.id}" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="radar-chart"></div>
            </div>
        </div>
        <form th:action="@{~/posts/all/}+ ${state.id}" method="get">
            <div class="">

                <input type="hidden" name="recipient-id" th:value="${state.id}">

                <!--<input type="text"  class="form-control mb-5" id="message" name="message"/>-->
                <div class="">
                    <button type="submit" class="btn btn-outline-primary">Blog</button>
                </div>

            </div>

        </form>

            <div class="row  page   row-full-screen row-dark">

                <div class="col-md-4">
                    <h2>Safety / Crime</h2>

                    <p>User Ratings: </p>
                    <p>True Sense: </p>

                    <p>Texas is ranked 50 out of 50 in Crime.</p>
                    <p>The average crime rate has gone down 1.2% from 2010 to 2015</p>
                    <p>A rise in rapes, murders and suicides has been noted over the same period</p>

                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div id="crime-chart"></div>
                        </div>
                    </div>
                </div>

            </div>



        <div class="row   page row-full-screen">

            <div class="col-md-4">
                <h2>Growth</h2>

                <p>User Ratings: </p>
                <p>True Sense: </p>

                <p>Texas is ranked 50 out of 50 in Crime.</p>
                <p>The average crime rate has gone down 1.2% from 2010 to 2015</p>
                <p>A rise in rapes, murders and suicides has been noted over the same period</p>

            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div id="growth-chart"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row  page  row-full-screen mb-4 row-dark">

        <div class="col-md-4">
            <h2>Education</h2>

            <p>User Ratings: </p>
            <p>True Sense: </p>

            <p>Texas is ranked 50 out of 50 in Crime.</p>
            <p>The average crime rate has gone down 1.2% from 2010 to 2015</p>
            <p>A rise in rapes, murders and suicides has been noted over the same period</p>

        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div id="education-chart"></div>
                </div>
            </div>
        </div>

    </div>



        <div class="row  page   row-full-screen">

            <div class="col-md-4">
                <h2>Health</h2>


                <p>User Ratings: </p>
                <p>True Sense: </p>

                <p>Texas is ranked 50 out of 50 in Crime.</p>
                <p>The average crime rate has gone down 1.2% from 2010 to 2015</p>
                <p>A rise in rapes, murders and suicides has been noted over the same period</p>

            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div id="health-chart"></div>
                    </div>
                </div>
            </div>

        </div>

</div>


    <div th:replace="partials/layout :: footer" />
<script th:src="@{~/built/map.js}"> </script>
<script th:src="@{~/built/news.js}"></script>
</body>
</html>