<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" >

<head th:replace="partials/layout :: header" >
    <meta charset="UTF-8" />
    <title>State</title>
</head>
<body>
<div th:replace="states/svg :: states-svg" />

<div th:replace="partials/layout :: navbar" >
</div>

<!--state news modal-->
<!--body continues to scroll while user is scrolling through modal-->
<div class="modal fade" id="modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="morenews"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <div class="container">

    <div class="row">
        <div class="col-md-6">


            <div class="state state-tiny">
                <svg th:class="@{icon icon-state-} + ${state.abbr}">
                    <use th:xlink:href="@{#icon-state-} + ${state.abbr}"></use>
                </svg>
            </div>

            <h1>
                <span th:text="${state.name}"></span></h1></div>
        <div class="col-md-6 ml-auto">
            <div class="form-inline form-row text-right align-items-right">
                <select id="inputState" class="form-control ml-auto mr-3">
                    <option disabled selected>Select State...</option>
                    <option  th:each="state : ${states}" th:text="${state.name}"> state name </option>
                </select>
                <button class="btn btn-primary">Go</button>
            </div>

        </div>
    </div>

<hr>
        <div class="row">

            <div class="col-md-4">

                <div class="card">
                    <div class="card-header state-header">
                        <div class="state pt-4">
                            <svg th:class="@{icon icon-state-} + ${state.abbr}">
                                <use th:xlink:href="@{#icon-state-} + ${state.abbr}"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5>State News</h5>

                        <ul id="statenews" th:data-state-name="${state.name}"></ul>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">View more News</button>                    </div>

                </div>


            </div>
            <div class="col-md-8">
                <div id="radar-chart"></div>
            </div>

        </div>


        <div  class="row">


            <div class="col-md-12 m-2 p-2">
            <div class="card">
                <div class="card-body">

            <div id="crime-chart"></div>

                </div>
            </div>


            </div>
        </div>

        <div>

            <div class="col-md-8">

            </div>

        </div>

    </div>
</div>

    <div th:replace="partials/layout :: footer" >

</div>
<script  th:src="@{~/built/map.js}"> </script>
<script th:src="@{~/built/news.js}"></script>
</body>
</html>